@charset "UTF-8";
/* ------------------------------------------------------------------------- *
 *  THIS IS MAIN (SASS) FILE
/* ------------------------------------------------------------------------- */
/*  IMPORT GOOGLE FONT-LATO
/* ------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900italic,900,700italic,400italic,300italic);
@font-face {
  font-family: 'proximanova-regular';
  src: url("../fonts/proximanova-regular.eot");
  src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular.woff2") format("woff2"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proximanova-bold';
  src: url("../fonts/proximanova-bold.eot");
  src: url("../fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold.woff2") format("woff2"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proximanova-semiBold';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*  VARIABLES
/* ------------------------------------ */
/* 9/16*100 */
/* 3/4*100 */
/* … */
/*  GENERAL'S
/* ------------------------------------ */
html, body {
  height: 100; }

body {
  font-family: "Lato", sans-serif;
  font-size: 14px; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  -webkit-transition: all 250ms ease-out;
          transition: all 250ms ease-out; }
  a:hover, a:focus {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: black; }

.nopadd {
  padding-left: 0;
  padding-right: 0; }

.nomarg {
  margin-left: 0;
  margin-right: 0; }

/* PRELOADER STYLING */
#preloader {
  z-index: 10001;
  background-color: white;
  width: 100%;
  height: 100%; }

#status {
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one screen */
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  /* is width and height divide by two */
  text-align: center; }
  #status img {
    top: 50%;
    position: relative;
    margin-top: -50px; }

/*  LAYOUT'S
/* ------------------------------------ */
.site-header {
  width: 100%;
  position: relative; }

.top-header {
  height: 38px;
  line-height: 38px;
  background-color: #62717a;
  border-bottom: 2px solid #e7e0d7; }
  .top-header p, .top-header a, .top-header i {
    line-height: 38px;
    height: 38px; }
  .top-header .text-information {
    color: white;
    margin: 0;
    text-align: center; }
  .top-header a {
    color: white; }
    .top-header a:hover, .top-header a:focus {
      color: #00aeef; }
    .top-header a i {
      position: relative;
      top: 1px;
      margin-left: 3px; }

.main-header {
  margin: 20px 0; }

.nav-header {
  width: 100%;
  background-color: #f7941d;
  border-bottom: 2px solid #93c949; }
  .nav-header .btn-show {
    display: none; }

.site-header-two .top-header {
  background-color: #f0f0f0;
  border-bottom: none; }
  .site-header-two .top-header .text-information {
    text-align: right;
    color: black; }
.site-header-two .nav-header {
  background-color: transparent;
  border-top: 1px solid #e7e0d7; }
.site-header-two .btn-show {
  color: #93c949; }

.site-main {
  background-color: #F6F6F6;
  position: relative; }

.site-main-inner {
  position: relative;
  overflow: hidden;
  background-color: white; }

.site-nav-sidebar {
  z-index: 333;
  padding: 60px 0px;
  background-color: #F5F5F5;
  border-right: 1px solid #E5E5E5;
  position: relative;
  z-index: 1; }
  .site-nav-sidebar:before {
    content: '';
    background-color: #f5f5f5;
    width: 300%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0; }
  @media (max-width: 995px) {
    .site-nav-sidebar {
      height: auto !important;
      padding: 30px 0; } }
  @media (max-width: 570px) {
    .site-nav-sidebar {
      padding: 10px 0; } }

.site-content {
  min-height: 700px; }
  .site-content p {
    font-size: 18px;
    line-height: 1.8; }
    @media (max-width: 767px) {
      .site-content p {
        font-size: 15px !important; } }

.site-footer {
  position: relative;
  padding-top: 70px; }
  .site-footer .line-sep {
    margin: 0px 0px 30px;
    border-color: rgba(0, 0, 0, 0.2); }

@media screen and (min-width: 75em) {
  .widget-subscribe {
    padding-right: 48px;
    padding-left: 48px; } }

.widget-logo {
  text-align: center;
  margin-bottom: 35px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 35px; }
  @media screen and (min-width: 75em) {
    .widget-logo {
      padding-right: 30px;
      text-align: left;
      margin-bottom: 0;
      padding-bottom: 0;
      border: 0; } }

.copyright {
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 2px; }
  @media (max-width: 570px) {
    .copyright {
      text-align: center;
      float: none; } }
  .copyright a {
    color: black; }
    .copyright a:hover, .copyright a:focus {
      color: #0077c0; }

.site-footer-bottom {
  padding-bottom: 30px; }
  .site-footer-bottom .copyright {
    margin-bottom: 0; }
    @media (max-width: 570px) {
      .site-footer-bottom .copyright {
        margin-bottom: 30px;
        text-align: left; } }
  .site-footer-bottom .widget {
    margin-top: -10px;
    margin-bottom: 0; }
    @media (max-width: 570px) {
      .site-footer-bottom .widget {
        margin-top: 0;
        float: left !important; } }
  .site-footer-bottom .list-touch li {
    float: left; }

/*  MODULE'S
/* ------------------------------------ */
.bg-yellow-light {
  background-color: #f6f7c9; }

.bg-green {
  background-color: #8dc63f; }
  .bg-green.blockquote-left {
    color: white !important; }

.bg-white {
  background-color: white; }

.bg-blue {
  background-color: #0077c0; }

.bg-blue-dark {
  background-color: #30617d; }

.bg-orange {
  background-color: #e79322; }

.bg-gray {
  background-color: #f5f5f5; }

.bg-blue-telor-asin {
  background-color: #62717a; }

.bg-blue-dark {
  background-color: #1b577a; }

.helper-bg {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 100%; }

blockquote {
  border-left: none; }

.blockquote-center {
  text-align: center;
  color: #93c949; }
  .blockquote-center i {
    font-size: 48px;
    margin-bottom: 10px; }
  .blockquote-center p {
    font-size: 29px;
    font-style: italic; }

.blockquote-left {
  text-align: left;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }
  .blockquote-left i {
    position: absolute;
    font-size: 26px;
    height: 52px;
    width: 52px;
    line-height: 52px;
    text-align: center;
    background-color: #b6db84;
    display: inline-block;
    left: 0;
    top: 0; }
  .blockquote-left p, .blockquote-left cite {
    margin-left: 60px; }
  .blockquote-left p {
    font-size: 22px; }
  .blockquote-left cite {
    font-size: 18px;
    font-style: normal; }

.btn-csf {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  padding: 10px 16px; }
  .btn-csf:hover, .btn-csf:focus, .btn-csf.active {
    outline: transparent; }

.btn-blue {
  background-color: #0077c0;
  color: white; }
  .btn-blue:hover, .btn-blue:focus, .btn-blue.active {
    color: white;
    background-color: #0ea3ff; }

.btn-black {
  background-color: black;
  color: white; }
  .btn-black:hover, .btn-black:focus {
    color: white;
    background-color: #0077c0; }

.btn-orange {
  background: #e79322;
  color: white; }
  .btn-orange:hover, .btn-orange:focus {
    color: white;
    background-color: #eba547; }

.btn-line {
  border: 2px solid transparent;
  padding: 10px 30px; }

.btn-line-white {
  border-color: white;
  color: white; }
  .btn-line-white:hover, .btn-line-white:focus, .btn-line-white.active {
    color: white;
    opacity: .85; }

.btn-line-blue {
  border-color: #0077c0;
  color: #0077c0; }
  .btn-line-blue:hover, .btn-line-blue:focus, .btn-line-blue.active {
    opacity: .85;
    color: #0077c0; }

.btn-divide-blue {
  background-color: #0077c0;
  position: relative;
  color: white;
  text-align: left;
  padding: 10px 62px 10px 18px;
  overflow: hidden; }
  .btn-divide-blue i {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #0ea3ff;
    display: block;
    padding: 10px 18px;
    line-height: 20px; }
  .btn-divide-blue:hover, .btn-divide-blue:focus, .btn-divide-blue.active {
    color: white;
    opacity: .85; }

.btn-radius {
  border-radius: 4px; }

.btn-s {
  padding: .3em .7em;
  font-size: 13px; }
  @media (max-width: 767px) {
    .btn-s {
      font-size: 10px; } }

.btn-l {
  font-size: 20px;
  font-weight: normal;
  padding: 10px 30px; }
  @media (max-width: 995px) {
    .btn-l {
      font-size: 14px; } }

.btn-ll {
  font-size: 17px;
  font-weight: normal;
  padding: 15px 30px; }
  @media (max-width: 995px) {
    .btn-ll {
      font-size: 14px; } }

.btn-full-width {
  width: 100%; }

.btn-combo {
  border: 1px solid #a9a9a9;
  text-transform: uppercase;
  position: relative;
  color: black;
  text-align: left;
  padding: 10px 90px 10px 18px;
  overflow: hidden;
  display: block;
  min-width: 160px; }
  @media (max-width: 767px) {
    .btn-combo {
      padding: 5px 60px 5px 12px; } }
  .btn-combo i {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: transparent;
    display: block;
    padding: 5px 12px;
    border-left: 1px solid #a9a9a9; }
  .btn-combo:hover, .btn-combo:focus {
    opacity: .8;
    color: black; }

.menu-years {
  border-radius: 0;
  box-shadow: none;
  padding: 0; }
  .menu-years > li > a {
    padding: 8px 20px; }

.csf-container {
  width: 100%;
  max-width: 1170px;
  padding: 60px;
  margin-right: auto;
  margin-left: auto; }

.container-oto {
  position: relative;
  height: 100%; }
  @media (max-width: 995px) {
    .container-oto {
      height: 100% !important; } }

.widget-container {
  padding-bottom: 50px; }

input[type="text"],
input[type="email"],
input[type="website"],
input[type="search"],
input[type="url"],
textarea {
  width: 100%;
  padding: 7px 14px;
  font-size: 13px;
  border: 1px solid #DFDFDF; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + .field-text {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin: -1px 15px 0 0;
    position: relative;
    white-space: nowrap;
    top: -10px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold; }
    input[type="checkbox"] + .field-text:before {
      content: "";
      display: inline-block;
      height: 28px;
      width: 28px;
      margin: -1px 5px 0px 0px;
      background-image: url("../images/sprite/check@2x.png");
      background-position: 0px 28px;
      position: relative;
      top: 9px; }

input[type="checkbox"]:checked + .field-text:before {
  background-position: 28px 28px;
  left: 4px; }

.field-box .label-field {
  font-weight: bold;
  text-transform: capitalize;
  display: block;
  color: black; }

.interest-box {
  margin-top: 20px;
  margin-bottom: 20px; }
  .interest-box .label-field {
    display: inline-block;
    margin-right: 10px;
    float: left; }
  .interest-box .helper-box {
    display: block;
    margin-left: 80px; }

.field-info {
  display: block; }
  .field-info label {
    font-weight: normal; }
    .field-info label span {
      position: relative;
      margin-left: 25px;
      text-transform: capitalize;
      white-space: nowrap;
      top: -4px; }

.form-subscribe .field-info {
  margin-bottom: 5px; }

.form-contact {
  margin-bottom: 80px; }
  .form-contact .field-box {
    position: relative;
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 30px;
    -webkit-transition: all 300ms ease-out;
            transition: all 300ms ease-out; }
    .form-contact .field-box.on-focus {
      box-shadow: inset 0 0px 0 2px #93c949; }
      .form-contact .field-box.on-focus .label-field-2 span {
        color: #93c949; }
  .form-contact input, .form-contact textarea {
    border: none;
    background: transparent;
    color: black;
    font-size: 26px; }
    @media (max-width: 767px) {
      .form-contact input, .form-contact textarea {
        font-size: 18px; } }
  .form-contact .label-field-2 {
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px; }
    .form-contact .label-field-2 span {
      color: #acacac; }

.form-new-subscribe ::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 12px; }
.form-new-subscribe :-moz-placeholder {
  /* Firefox 18- */
  text-transform: uppercase;
  font-size: 12px; }
.form-new-subscribe ::-moz-placeholder {
  /* Firefox 19+ */
  text-transform: uppercase;
  font-size: 12px; }
.form-new-subscribe :-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 12px; }
.form-new-subscribe form {
  position: relative; }
.form-new-subscribe input {
  height: 42px;
  float: left;
  position: relative;
  padding-right: 53px;
  background-color: #f3f3f3; }
.form-new-subscribe .btn-new-subscribe {
  background-color: #0077c0;
  border: 1px solid #0077c0;
  color: white;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 42px;
  width: 42px;
  height: 42px; }
  .form-new-subscribe .btn-new-subscribe:hover, .form-new-subscribe .btn-new-subscribe:focus {
    background: #0087da; }

.img-full-width img {
  width: 100%; }

.img-left {
  text-align: left;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.img-link img {
  -webkit-transition: all 350ms ease;
          transition: all 350ms ease;
  display: block; }
.img-link:hover img, .img-link:focus img {
  opacity: .85; }

.img-inline {
  text-align: center;
  margin-bottom: 20px; }
  .img-inline img {
    display: inline-block; }
  .img-inline .title-img-inline {
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    position: relative;
    margin-left: -20px; }

.img-caption-floating {
  position: relative;
  margin-bottom: 220px; }
  @media (max-width: 995px) {
    .img-caption-floating {
      margin-bottom: 180px; } }
  @media (max-width: 767px) {
    .img-caption-floating {
      margin-top: 20px;
      margin-bottom: 30px; } }
  .img-caption-floating img {
    width: 100%;
    position: relative; }
  .img-caption-floating blockquote {
    width: 90%;
    position: absolute;
    bottom: -40%;
    z-index: 33; }
    @media (max-width: 767px) {
      .img-caption-floating blockquote {
        width: 100%;
        position: relative;
        bottom: 0; } }

.list-download {
  list-style: none outside none;
  padding: 0;
  margin: 0; }
  .list-download li {
    display: block; }
    .list-download li a {
      position: relative;
      display: block;
      padding: 2px 40px 15px;
      margin-bottom: 10px;
      color: black;
      font-size: 18px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      @media (max-width: 767px) {
        .list-download li a {
          font-size: 15px; } }
      .list-download li a:before {
        position: absolute;
        content: "\f016";
        font-family: "FontAwesome";
        color: white !important;
        height: 28px;
        width: 28px;
        line-height: 28px;
        text-align: center;
        color: white;
        border-radius: 50%;
        background-color: #0077c0;
        display: inline-block;
        left: 0px;
        top: 0px;
        font-size: 14px; }
        @media (max-width: 767px) {
          .list-download li a:before {
            font-size: 12px;
            top: 3px; } }
    .list-download li:last-child a {
      border-bottom: none; }
    .list-download li:hover a, .list-download li:focus a {
      color: #0077c0; }

.list-circle {
  padding-left: 20px; }
  .list-circle p {
    margin-left: 0px; }

.list-csf-link {
  list-style: none outside none;
  padding: 0;
  margin: 0; }
  .list-csf-link li {
    float: left;
    display: block;
    width: 33.33%;
    padding-right: 40px; }
    @media (max-width: 570px) {
      .list-csf-link li {
        width: 100%;
        margin-bottom: 30px;
        padding-right: 0; } }
    .list-csf-link li:last-child {
      padding-right: 0; }
    .list-csf-link li a {
      display: block;
      border: 1px solid white;
      padding: 10px 30px;
      min-height: 100px;
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      font-weight: 600;
      position: relative; }
      .list-csf-link li a:after {
        content: "\f054";
        position: absolute;
        font-family: "FontAwesome";
        color: white;
        font-size: 21px;
        right: 20px;
        top: 10px;
        opacity: 0;
        -webkit-transition: all 250ms ease;
                transition: all 250ms ease; }
      .list-csf-link li a:hover, .list-csf-link li a:focus {
        background-color: #0077c0; }
        .list-csf-link li a:hover:after, .list-csf-link li a:focus:after {
          opacity: 1; }

.mask-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-image: url("../images/pattern.png");
  opacity: 0.35; }

.navigation-main {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 1200px) {
    .navigation-main {
      font-size: 15px; } }
  @media (max-width: 995px) {
    .navigation-main {
      display: none; } }
  .navigation-main ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .navigation-main ul li {
      position: relative;
      display: inline-block; }
      @media (min-width: 1200px) {
        .navigation-main ul li {
          float: left; } }
      .navigation-main ul li > a {
        display: block;
        color: white;
        font-weight: normal;
        padding: 12px 27px;
        padding: 12px 25px\9;
        position: relative;
        letter-spacing: 1px; }
        @media (max-width: 1200px) {
          .navigation-main ul li > a {
            padding: 8px 15px;
            font-size: 0.9em; } }
        .navigation-main ul li > a:before {
          content: "";
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          width: 1px;
          background-color: rgba(255, 255, 255, 0.25); }
      @media (min-width: 1200px) {
        .navigation-main ul li:first-child {
          margin-left: 0; } }
      .navigation-main ul li:last-child > a:after {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.25); }
      .navigation-main ul li > ul {
        display: none;
        position: absolute;
        top: 102%;
        min-width: 260px;
        border: 1px solid #93c949;
        background-color: #eef8e1;
        font-size: 13px;
        text-align: left;
        z-index: 999; }
        @media (max-width: 995px) {
          .navigation-main ul li > ul {
            font-size: 11px; } }
        .navigation-main ul li > ul li {
          display: block;
          margin-left: 0;
          float: none; }
          .navigation-main ul li > ul li > a {
            display: block;
            color: black;
            font-weight: normal;
            padding: 10px 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
          .navigation-main ul li > ul li:hover > a, .navigation-main ul li > ul li:focus > a, .navigation-main ul li > ul li.active > a {
            color: white; }
      .navigation-main ul li:hover > a, .navigation-main ul li:focus > a, .navigation-main ul li.active > a {
        background-color: #93c949;
        outline: transparent; }

.site-header-two .navigation-main ul li:last-child > a:after {
  background-color: #e7e0d7; }
.site-header-two .navigation-main ul li > a {
  color: black; }
  .site-header-two .navigation-main ul li > a:before {
    background-color: #e7e0d7; }
.site-header-two .navigation-main ul li > ul li {
  float: none; }
  .site-header-two .navigation-main ul li > ul li > a:last-child:after {
    background-color: #93c949; }

.navigation-sidebar {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase; }
  @media (max-width: 995px) {
    .navigation-sidebar {
      font-size: 11px; } }
  .navigation-sidebar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .navigation-sidebar ul li {
      display: block;
      position: relative; }
      .navigation-sidebar ul li > a {
        color: #979786;
        padding: 10px 60px;
        display: block;
        position: relative;
        line-height: 1.6; }
        @media (max-width: 995px) {
          .navigation-sidebar ul li > a {
            padding: 7px 60px; } }
        .navigation-sidebar ul li > a:after {
          content: "";
          position: absolute;
          right: -1px;
          height: 100%;
          width: 1px;
          top: 0px;
          background-color: transparent; }
      .navigation-sidebar ul li > ul li > a {
        text-transform: none;
        padding: 5px 60px 5px 90px; }
      .navigation-sidebar ul li:hover > a, .navigation-sidebar ul li:focus > a {
        color: #0077c0; }
      .navigation-sidebar ul li.active {
        padding-top: 6px;
        padding-bottom: 6px; }
        .navigation-sidebar ul li.active:before {
          content: '';
          position: absolute;
          z-index: 0;
          width: 300%;
          height: 100%;
          right: 0;
          top: 0;
          background: white; }
        .navigation-sidebar ul li.active > a {
          color: #000;
          background-color: #FFF; }
          .navigation-sidebar ul li.active > a:after {
            background-color: white; }
        .navigation-sidebar ul li.active > ul {
          background-color: white; }
          .navigation-sidebar ul li.active > ul li > a:after {
            background-color: white; }

.navigation-footer {
  float: right;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold; }
  @media (max-width: 570px) {
    .navigation-footer {
      float: none;
      text-align: center;
      margin-bottom: 30px; } }
  .navigation-footer ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
  .navigation-footer li {
    float: left;
    position: relative; }
    @media (max-width: 570px) {
      .navigation-footer li {
        float: none;
        display: inline-block; } }
    .navigation-footer li a {
      display: block;
      padding: 0 10px;
      position: relative;
      color: black;
      letter-spacing: 2px; }
      .navigation-footer li a:before {
        position: absolute;
        content: "";
        left: 0;
        height: 100%;
        top: 0;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.2); }
      .navigation-footer li a:hover, .navigation-footer li a:focus {
        color: #0077c0; }
    .navigation-footer li:first-child a:before {
      width: 0; }

.navigation-page {
  position: relative;
  margin-top: 40px;
  font-size: 16px !important; }
  .navigation-page a {
    display: inline-block;
    border-top: 1px solid black;
    padding: 5px;
    color: black;
    font-weight: bold; }
    .navigation-page a:hover, .navigation-page a:focus {
      color: #0077c0; }
  .navigation-page .prev {
    float: left;
    padding-right: 20px; }
  .navigation-page .next {
    float: right;
    padding-left: 20px; }

.navigation-page-two {
  position: absolute;
  width: 100%;
  top: 50%; }
  @media (max-width: 570px) {
    .navigation-page-two {
      top: 52%;
      z-index: 333; } }
  .navigation-page-two .prev, .navigation-page-two .next {
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    padding: 12px 14px;
    background-color: #f8f7ec;
    position: absolute; }
    .navigation-page-two .prev:hover, .navigation-page-two .prev:focus, .navigation-page-two .next:hover, .navigation-page-two .next:focus {
      background-color: #eae7c7; }
    .navigation-page-two .prev i, .navigation-page-two .next i {
      position: relative;
      top: -1px; }
  .navigation-page-two .prev {
    left: 0; }
  .navigation-page-two .next {
    right: 0; }

.box-content-page p {
  font-size: 18px;
  line-height: 1.8; }

.box-content-page p {
  font-size: 18px;
  line-height: 1.8; }

.header-page {
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .header-page {
      margin-bottom: 20px; } }

.title-page {
  margin: 0;
  font-size: 37px;
  font-weight: normal;
  text-transform: capitalize; }
  @media (max-width: 767px) {
    .title-page {
      font-size: 28px; } }

.subtitle-page {
  margin-top: 5px;
  margin-bottom: 0; }
  .subtitle-page a {
    color: black; }
    .subtitle-page a:hover, .subtitle-page a:focus {
      color: #0077c0; }

.title-content-page {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: normal; }
  @media (max-width: 767px) {
    .title-content-page {
      font-size: 21px; } }

.site-page-information {
  position: relative;
  width: 100%;
  display: block; }
  @media (max-width: 767px) {
    .site-page-information {
      display: none; } }
  .site-page-information img {
    width: 100%; }

.site-page-information-text {
  text-align: center; }
  .site-page-information-text .information-text-caption {
    max-width: 750px;
    margin: 0 auto;
    padding: 100px 0; }
  .site-page-information-text .title-information-text,
  .site-page-information-text .text-informaton-text {
    color: white;
    margin: 0; }
  .site-page-information-text .title-information-text {
    margin-bottom: 30px;
    font-size: 30px; }
    @media (max-width: 767px) {
      .site-page-information-text .title-information-text {
        font-size: 24px; } }
  .site-page-information-text .text-information-text {
    color: #89d2ff;
    font-size: 18px; }

.section-box {
  position: relative;
  padding-top: 50px; }

.header-section {
  position: relative;
  margin-bottom: 40px;
  text-align: center; }
  .header-section .header-title,
  .header-section .header-title-small,
  .header-section .header-subtitle {
    color: black; }
  .header-section .header-title {
    font-weight: bold;
    font-size: 44px;
    margin-top: 0; }
    @media (max-width: 767px) {
      .header-section .header-title {
        font-size: 32px; } }
  .header-section .header-title-small {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0; }
  .header-section .header-subtitle {
    font-size: 21px; }
    @media (max-width: 767px) {
      .header-section .header-subtitle {
        font-size: 16px; } }

.table-csf {
  position: relative;
  font-size: 18px;
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .table-csf {
      font-size: 15px; } }
  @media (max-width: 570px) {
    .table-csf {
      font-size: 12px; } }
  .table-csf .info-top-csf {
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block; }
  .table-csf table {
    width: 100%; }
  .table-csf thead tr td,
  .table-csf tbody tr td,
  .table-csf tfoot tr td {
    text-align: right; }
    .table-csf thead tr td:first-child,
    .table-csf tbody tr td:first-child,
    .table-csf tfoot tr td:first-child {
      text-align: left; }
  .table-csf thead {
    text-transform: uppercase;
    font-weight: bold; }
    .table-csf thead tr {
      border-bottom: 1px solid #93c949; }
    .table-csf thead td {
      padding: 8px 0; }
  .table-csf tbody tr:first-child td {
    padding-top: 15px; }
  .table-csf tbody tr td {
    padding: 5px 0; }
  .table-csf tfoot {
    text-transform: uppercase;
    font-weight: bold; }
    .table-csf tfoot tr td {
      padding-top: 10px; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space40 {
  height: 40px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.space80 {
  height: 80px;
  display: block;
  width: 100%; }

@media (max-width: 570px) {
  .helperspaceb {
    margin-bottom: 40px; } }

.text-italic {
  font-style: italic; }

.text-uppercase {
  text-transform: uppercase; }

.text-inline {
  display: inline-block; }

.text-block {
  display: block; }

.text-red {
  color: #ed1c24; }

.text-yellow {
  color: #fff200; }

.text-orange {
  color: #e79322; }

.text-white {
  color: white !important; }

.text-gray {
  color: #8f8f8f !important; }

.text-gray.text-italic {
  font-size: 16px; }

.text-blue {
  color: #0077c0 !important; }

.text-link-blue {
  color: #0077c0; }
  .text-link-blue:hover, .text-link-blue:focus {
    color: #27adff; }

.text-link-orange {
  color: #e79322; }
  .text-link-orange:hover, .text-link-orange:focus {
    color: #f1c07e; }

.text-link-black {
  color: black; }
  .text-link-black:hover, .text-link-black:focus {
    color: #333333; }

.text-link-white {
  color: white; }
  .text-link-white:hover, .text-link-white:focus {
    color: #cccccc; }

.text-link-blue {
  color: #0072bc !important; }
  .text-link-blue:hover, .text-link-blue:focus {
    color: #003456 !important; }

.text-link-border {
  border-bottom: 1px solid #0077c0; }
  .text-link-border:hover, .text-link-border:focus {
    border-color: #00aeef; }

.text-link-gray {
  color: #a3a3a3; }
  .text-link-gray:hover, .text-link-gray:focus {
    color: #0077c0; }
  .text-link-gray i {
    margin-left: 3px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.touch-header {
  float: right;
  padding: 20px 0;
  min-width: 400px; }
  @media (max-width: 995px) {
    .touch-header {
      float: none;
      text-align: center;
      min-width: 0; } }
  .touch-header .touch-socmed {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 40px;
    padding: 10px;
    padding-right: 40px;
    float: right; }
    @media (max-width: 995px) {
      .touch-header .touch-socmed {
        float: none;
        padding-right: 10px;
        margin-right: 0;
        border-right: none; } }
  .touch-header .btn-csf {
    margin-top: 10px;
    float: right; }
    @media (max-width: 995px) {
      .touch-header .btn-csf {
        float: none; } }

.logo-holder {
  float: left;
  width: 478px\9;
  _width: 478px; }
  @media (max-width: 995px) {
    .logo-holder {
      float: none;
      text-align: center; } }
  .logo-holder a {
    display: inline-block;
    display: block\9; }
    @media (max-width: 480px) {
      .logo-holder a img {
        width: 100%; } }

.logo-top {
  float: right;
  position: relative;
  top: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  z-index: 1;
  _width: 518px;
  width: 518px\9; }

.logo-holder-center {
  text-align: center;
  position: relative;
  margin: 15px 0; }
  .logo-holder-center a {
    display: inline-block;
    margin: 0 auto; }
    @media (max-width: 480px) {
      .logo-holder-center a img {
        width: 100%; } }

.touch-socmed {
  text-align: center; }
  .touch-socmed ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
  .touch-socmed li {
    float: left;
    position: relative; }
    @media (max-width: 995px) {
      .touch-socmed li {
        float: none;
        display: inline-block; } }
  .touch-socmed a {
    color: #5e6063;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 21px; }
    .touch-socmed a:hover, .touch-socmed a:focus {
      color: #84868a; }
      .touch-socmed a:hover .ico, .touch-socmed a:focus .ico {
        opacity: .85; }
  .touch-socmed .ico-csf {
    background-image: url("../images/peoples/kompass.png"); }
  .touch-socmed .ico {
    background-repeat: no-repeat;
    background-size: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    display: block;
    position: relative;
    top: 5px;
    margin-left: 5px; }
    @media (max-width: 995px) {
      .touch-socmed .ico {
        top: 13px; } }

.content-page .panel {
  box-shadow: none;
  border-radius: 0; }
.content-page .panel-default {
  border-color: transparent; }
.content-page .panel-title {
  font-size: 18px;
  line-height: 1.4; }
  .content-page .panel-title a {
    display: block;
    border: 1px solid #ABD571;
    padding: 10px 30px 10px 60px;
    position: relative; }
    .content-page .panel-title a:before {
      content: "Q";
      position: absolute;
      left: 0px;
      top: 0px;
      padding: 8px 13px;
      text-transform: uppercase;
      display: block;
      height: 100%;
      -webkit-transition: all 350ms ease-out 0s;
              transition: all 350ms ease-out 0s;
      background-color: transparent;
      border-right: 1px solid #ABD571;
      color: #ABD571; }
  .content-page .panel-title a[aria-expanded="true"]:before {
    color: white;
    background-color: #ABD571; }
.content-page .panel-body {
  padding-left: 60px; }
  .content-page .panel-body p {
    font-size: 18px;
    line-height: 1.8; }
    @media (max-width: 767px) {
      .content-page .panel-body p {
        font-size: 15px; } }

.box-panel {
  display: block;
  padding: 30px;
  margin-bottom: 40px; }
  .box-panel .counting {
    font-size: 84px;
    font-weight: 300;
    line-height: 1.2; }
  .box-panel p {
    font-size: 18px;
    line-height: 1.8; }
  .box-panel .btn-csf {
    margin-top: 20px;
    text-align: center;
    font-weight: bold; }

.map-container {
  position: relative;
  width: 100%;
  height: 430px;
  background-color: #F0F0F0;
  border: 2px solid #ABD571;
  margin-bottom: 70px;
  overflow: hidden;
  margin-top: 50px; }

.map-info {
  position: absolute;
  right: -2px;
  top: -2px;
  z-index: 33;
  background-color: #0077C0;
  background-color: rgba(0, 119, 192, 0.85);
  color: #FFF;
  padding: 30px 30px 50px; }
  .map-info h4 {
    margin-top: 0px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); }
    @media (max-width: 767px) {
      .map-info h4 {
        font-size: 12px; } }
  .map-info .text-map {
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .map-info .text-map {
        font-size: 15px; } }

#map {
  position: absolute;
  width: 100%;
  height: 430px; }

.section-fullslider {
  padding-bottom: 0; }

.fullslider-carousel {
  margin-bottom: 0;
  border-top: 2px solid #93c949;
  border-bottom: 2px solid #93c949;
  overflow: hidden; }
  .fullslider-carousel .item {
    position: relative;
    -webkit-transition: all 350ms ease;
            transition: all 350ms ease; }
    .fullslider-carousel .item:hover, .fullslider-carousel .item:focus {
      cursor: pointer; }
      .fullslider-carousel .item:hover .mask-fullslider, .fullslider-carousel .item:focus .mask-fullslider {
        display: none; }
    .fullslider-carousel .item .mask-fullslider {
      display: block;
      -webkit-transition: all 350ms ease;
              transition: all 350ms ease;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(117, 76, 36, 0.3);
      top: 0;
      left: 0;
      z-index: 1; }
    .fullslider-carousel .item img {
      display: block;
      position: relative; }

/*  SECTION'S
/* ------------------------------------ */
.fourthzero-caption {
  position: relative;
  padding: 15.5% 0; }
  @media (max-width: 767px) {
    .fourthzero-caption {
      padding: 30% 0 40%; } }
  @media (max-width: 570px) {
    .fourthzero-caption {
      padding-top: 40%; } }

.title-fourthzero {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 63px;
  font-weight: 900;
  color: white; }
  @media (max-width: 767px) {
    .title-fourthzero {
      font-size: 46px;
      margin-bottom: 20px; } }

.text-fourthzero {
  font-size: 40px;
  color: white; }
  @media (max-width: 767px) {
    .text-fourthzero {
      font-size: 21px; } }
  .text-fourthzero a {
    color: white;
    border-bottom: 1px solid white; }
    .text-fourthzero a:hover, .text-fourthzero a:focus {
      color: #0077c0;
      border-bottom-color: #0077c0; }

.bg-404 .bg-orange {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1; }

.box-boardstaff,
.box-staff {
  margin-bottom: 20px; }
  .box-boardstaff .title-content-page,
  .box-staff .title-content-page {
    border-bottom: 2px solid #d6d6d6;
    padding-bottom: 10px;
    margin-top: 0; }

.item-boardstaff {
  margin-bottom: 20px; }
  .item-boardstaff .title-board {
    font-size: 18px;
    margin: 0; }
    @media (max-width: 767px) {
      .item-boardstaff .title-board {
        font-size: 15px; } }
  .item-boardstaff .subtitle-board {
    font-size: 18px; }
    @media (max-width: 767px) {
      .item-boardstaff .subtitle-board {
        font-size: 15px; } }

.item-staff {
  margin-top: 20px;
  text-align: center;
  _height: 338px;
  height: 338px\9; }
  .item-staff .img-staff {
    width: 100%;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in; }
  .item-staff .staff-desc {
    margin-top: 15px; }
  .item-staff .title-staff {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    color: black; }
  .item-staff .subtitle-staff {
    font-size: 16px;
    margin-bottom: 0;
    color: black; }
  .item-staff .title-staff, .item-staff .subtitle-staff {
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in; }
  .item-staff:hover .img-staff {
    box-shadow: 0px 0px 10px #cbcac9;
    -moz-box-shadow: 0px 0px 10px #cbcac9;
    -webkit-box-shadow: 0px 0px 10px #cbcac9; }
  .item-staff:hover .title-staff, .item-staff:hover .subtitle-staff {
    color: #e89824; }

.item-about-news {
  margin-bottom: 40px; }
  .item-about-news .header-about-news .title-about-news {
    margin-top: 0;
    margin-bottom: 0; }
  .item-about-news .meta-about-news {
    font-size: 14px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .item-about-news .meta-about-news {
        font-size: 12px !important; } }
  .item-about-news .title-about-news a {
    color: black; }
    .item-about-news .title-about-news a:hover, .item-about-news .title-about-news a:focus {
      color: #0077c0; }
  .item-about-news .btn-csf {
    margin-top: 10px; }

@media (max-width: 767px) {
  .box-press-release {
    margin-top: 30px; } }
.box-press-release .item-pr a {
  color: black; }
  .box-press-release .item-pr a:hover, .box-press-release .item-pr a:focus {
    color: #0077c0; }
.box-press-release .item-pr span {
  font-size: 14px;
  text-transform: uppercase; }

.item-blog {
  margin-bottom: 20px; }
  @media (max-width: 570px) {
    .item-blog {
      padding-bottom: 20px;
      text-align: center; } }
  .item-blog .img-item-blog {
    float: left;
    margin-top: 20px;
    margin-right: 20px; }
    @media (max-width: 570px) {
      .item-blog .img-item-blog {
        margin: 0;
        float: none; }
        .item-blog .img-item-blog img {
          width: 100%; } }
  .item-blog .header-blog {
    margin-top: 40px;
    padding-right: 20px; }
    @media (max-width: 570px) {
      .item-blog .header-blog {
        margin-top: 20px;
        padding: 0 10px;
        text-align: center; } }

.header-blog .title-blog {
  font-size: 26px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.4; }

.item-family {
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    .item-family {
      width: 100% !important; } }
  .item-family .inner-item-family {
    text-align: center;
    background-color: white;
    display: block;
    min-height: 200px;
    padding: 20px;
    position: relative; }
    .item-family .inner-item-family:hover, .item-family .inner-item-family:focus {
      box-shadow: inset 0 0 0 3px #93c949; }
      .item-family .inner-item-family:hover .title-family, .item-family .inner-item-family:focus .title-family {
        color: #0077c0; }
      .item-family .inner-item-family:hover .img-family-hover, .item-family .inner-item-family:focus .img-family-hover {
        display: block; }
      .item-family .inner-item-family:hover .img-family, .item-family .inner-item-family:focus .img-family {
        opacity: 0; }
  .item-family .title-family {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.4; }
  .item-family .img-family-content {
    position: relative;
    text-align: center; }
    .item-family .img-family-content .img-family {
      -webkit-transition: opacity 200ms ease;
              transition: opacity 200ms ease;
      position: relative; }
    .item-family .img-family-content .img-family-hover {
      -webkit-transition: all 350ms ease;
              transition: all 350ms ease;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -55px;
      display: none; }

.homepage {
  position: relative;
  padding-top: 50px; }

.csf-carousel .item-bg {
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25); }
  @media (max-width: 995px) {
    .csf-carousel .item-bg {
      background-color: transparent; } }
.csf-carousel .item {
  text-align: center;
  padding: 100px 0px 130px; }
  @media (max-width: 995px) {
    .csf-carousel .item {
      padding: 10% 0 12%; } }
.csf-carousel .text-big {
  color: white;
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300; }
  @media (max-width: 570px) {
    .csf-carousel .text-big {
      font-size: 26px; } }
.csf-carousel p {
  color: white;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 18px; }
  @media (max-width: 570px) {
    .csf-carousel p {
      font-size: 14px; } }
.csf-carousel .item-caption {
  max-width: 725px;
  margin: 0 auto; }
  @media (max-width: 995px) {
    .csf-carousel .item-caption {
      margin: 0 10%; } }

.item-bg-1 {
  background-image: url("../images/intro/1.jpg"); }

.item-bg-2 {
  background-image: url("../images/intro/2.jpg"); }

.item-bg-3 {
  background-image: url("../images/intro/3.jpg"); }

.site-impact-img img {
  width: 100%; }

.item-impact {
  margin-bottom: 30px; }
  @media (max-width: 570px) {
    .item-impact {
      text-align: center; } }
  .item-impact .inner-item-impact {
    background-color: #FFF;
    position: relative;
    border-radius: 6px; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .item-impact .inner-item-impact {
        text-align: center; } }
  .item-impact .img-impact {
    float: left;
    margin-right: 20px; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .item-impact .img-impact {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
        text-align: center; }
        .item-impact .img-impact img {
          display: inline-block;
          margin-top: 10px; } }
    @media (max-width: 570px) {
      .item-impact .img-impact {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
        text-align: center; }
        .item-impact .img-impact img {
          display: inline-block;
          margin-top: 10px; } }
  .item-impact .title-impact {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 21px;
    letter-spacing: 2px;
    text-transform: uppercase; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .item-impact .title-impact {
        margin: 0 20px 0; } }
    @media (max-width: 570px) {
      .item-impact .title-impact {
        margin: 0 20px 0; } }
  .item-impact .content-impact {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .item-impact .content-impact {
        margin: 20px 0; } }
    @media (max-width: 570px) {
      .item-impact .content-impact {
        margin: 20px 30px 20px; } }
  .item-impact .btn-csf {
    position: absolute;
    bottom: 30px; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .item-impact .btn-csf {
        position: relative;
        bottom: 0;
        margin-bottom: 30px; } }
    @media (max-width: 570px) {
      .item-impact .btn-csf {
        position: relative;
        bottom: 0;
        margin-bottom: 30px; } }

.section-information {
  background-color: #fbfbfb;
  padding: 60px 0;
  border-top: 1px solid #d7ecbb;
  position: relative;
  box-shadow: 0px -30px 20px -15px rgba(0, 0, 0, 0.1) inset;
  z-index: 333; }
  .section-information.section-information-two {
    border-top: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0; }
  .section-information .text-information {
    color: #000;
    font-size: 21px;
    text-align: right;
    float: right;
    max-width: 600px;
    margin-right: 30px; }
    @media (max-width: 995px) {
      .section-information .text-information {
        float: none;
        text-align: center;
        margin-right: 0;
        margin-bottom: 30px;
        max-width: inherit; } }
    @media (max-width: 767px) {
      .section-information .text-information {
        font-size: 16px;
        margin-bottom: 0; } }
  .section-information .btn-csf {
    margin-top: 20px; }
    .section-information .btn-csf:first-child {
      margin-right: 10px; }

.item-news {
  position: relative;
  margin-bottom: 20px; }
  .item-news .meta-news {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .item-news .title-news {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.4; }
    .item-news .title-news a {
      color: black; }
      .item-news .title-news a:hover, .item-news .title-news a:focus {
        color: #0077c0; }

.tax-carousel .item {
  padding: 0 !important; }
.tax-carousel .inner-item-tax {
  background-color: #e7e0d7;
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 6px; }
  .tax-carousel .inner-item-tax:hover, .tax-carousel .inner-item-tax:focus {
    background-color: #ddd4c7; }
.tax-carousel .item-box {
  -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
  background-color: #e7e0d7;
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 6px; }
.tax-carousel img {
  margin: 0;
  width: 100%;
  border-radius: 6px; }
.tax-carousel .tax-content {
  padding: 20px 8px 30px;
  text-align: center; }
.tax-carousel .tax-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.3em;
  color: black; }
.tax-carousel .tax-subtitle {
  color: black; }

.section-crousel {
  padding-bottom: 50px;
  border-bottom: 1px solid #dddddd; }

.tax-nav .owl-prev,
.tax-nav .owl-next {
  background-color: #e5e5e5;
  padding: 30px 10px;
  display: inline-block;
  border-radius: 3px;
  top: 25%;
  position: absolute;
  z-index: 33;
  cursor: pointer;
  -webkit-transition: all .25s;
          transition: all .25s; }
  @media (max-width: 880px) {
    .tax-nav .owl-prev,
    .tax-nav .owl-next {
      top: 30%; } }
.tax-nav .owl-prev {
  left: -8%; }
  @media (max-width: 880px) {
    .tax-nav .owl-prev {
      left: 4%; } }
.tax-nav .owl-next {
  right: -8%; }
  @media (max-width: 880px) {
    .tax-nav .owl-next {
      right: 4%; } }

.section-htax {
  margin-top: 50px;
  background-color: #0077c0; }
  @media screen and (min-width: 1200px) {
    .section-htax .container {
      width: 100%;
      max-width: 1358px;
      padding-right: 0; } }

.htax-thumb {
  text-align: center; }
  @media screen and (min-width: 70em) {
    .htax-thumb {
      text-align: left; } }

.item-tax-credit-big {
  padding: 10% 6% 10% 54px; }
  @media (max-width: 570px) {
    .item-tax-credit-big {
      height: auto !important; } }

.item-tax-credit {
  text-align: center;
  margin-bottom: 30px; }
  .item-tax-credit .icon-img {
    margin-bottom: 20px; }
  .item-tax-credit .title-tax-credit {
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 0;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 20px; }
    .item-tax-credit .title-tax-credit a {
      color: black; }
  .item-tax-credit .tax-cd-box {
    padding: 20px 15px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; }
    .item-tax-credit .tax-cd-box:hover {
      box-shadow: 0 0 5px #888; }

.item-tax-credit-two {
  text-align: center;
  margin-bottom: 30px; }
  .item-tax-credit-two .icon-img {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 20px; }
    .item-tax-credit-two .icon-img img {
      display: inline-block; }
  .item-tax-credit-two .title-tax-credit {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 0;
    letter-spacing: 2px;
    line-height: 1.4;
    margin-bottom: 20px; }
    .item-tax-credit-two .title-tax-credit a {
      color: black; }
      .item-tax-credit-two .title-tax-credit a:hover, .item-tax-credit-two .title-tax-credit a:focus {
        color: #0077c0; }
  .item-tax-credit-two .text-tax-credit {
    font-size: 18px;
    line-height: 1.6; }

.box-participate {
  position: relative;
  overflow: hidden; }

.item-participate {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (max-width: 800px) {
    .item-participate {
      padding: 20px 10px; } }
  .item-participate .step {
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold; }
    .item-participate .step:before {
      content: "";
      position: absolute;
      right: 140%;
      top: 50%;
      width: 280%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.3); }
      @media (max-width: 800px) {
        .item-participate .step:before {
          width: 200%; } }
      @media (max-width: 570px) {
        .item-participate .step:before {
          width: 0; } }
  .item-participate .stage {
    color: #fff200;
    display: block;
    font-size: 68px;
    font-weight: 300;
    margin-top: -20px; }
  .item-participate .title-participate {
    color: white;
    line-height: 1.6;
    font-weight: 400;
    max-width: 180px;
    margin: 0 auto; }
  .item-participate .text-link-border {
    color: white;
    border-bottom-color: white; }
    .item-participate .text-link-border:hover, .item-participate .text-link-border:focus {
      color: rgba(255, 255, 255, 0.3);
      border-bottom-color: rgba(255, 255, 255, 0.3); }

.box-ostc-dollars {
  background-color: #e1eef6; }
  .box-ostc-dollars .border-right {
    position: relative; }
    .box-ostc-dollars .border-right:before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: black; }

.item-tax-dollars {
  padding: 20px 40px !important;
  position: relative; }
  @media (max-width: 570px) {
    .item-tax-dollars p {
      text-align: left !important; } }
  .item-tax-dollars .img-left {
    margin-bottom: 0; }
    @media (max-width: 570px) {
      .item-tax-dollars .img-left {
        float: none;
        text-align: center;
        display: block;
        margin-right: 0; } }
    .item-tax-dollars .img-left img {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px; }
      @media (max-width: 570px) {
        .item-tax-dollars .img-left img {
          float: none;
          margin-right: 0; } }

.item-tax-about-two .title-tax-about {
  margin-top: 0;
  font-size: 21px;
  margin-bottom: 20px; }
.item-tax-about-two p {
  font-size: 18px;
  line-height: 1.8; }

.item-tax-about-detail {
  border-top: 5px solid #93c949;
  border-left: 1px solid #93c949;
  border-bottom: 1px solid #93c949;
  padding: 40px;
  padding-right: 0;
  position: relative; }
  .item-tax-about-detail:before, .item-tax-about-detail:after {
    background-color: #93c949;
    position: absolute;
    content: "";
    left: 100%;
    width: 100%; }
  .item-tax-about-detail:before {
    top: -5px;
    height: 5px; }
  .item-tax-about-detail:after {
    bottom: -1px;
    height: 1px; }
  .item-tax-about-detail .title-tax-about-detail {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal; }

.box-tax-pay {
  font-size: 18px; }
  .box-tax-pay > strong {
    display: block; }

.pay-choose {
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  display: table;
  width: 100%;
  margin-top: 25px; }
  .pay-choose .pay-box, .pay-choose .or {
    display: table-cell;
    vertical-align: middle; }
  .pay-choose .or {
    position: relative;
    min-height: 130px;
    padding: 0 23px; }
    .pay-choose .or:before {
      position: absolute;
      z-index: 0;
      content: "";
      height: 100%;
      border-left: 1px solid #8f8f8f;
      border-right: 1px solid #8f8f8f;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
      @media (max-width: 1285px) {
        .pay-choose .or:before {
          width: 0; } }
  .pay-choose strong {
    text-transform: uppercase;
    color: #8f8f8f;
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background: white;
    padding: 10px 15px;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    z-index: 1; }

.tax-info-two {
  margin-top: 40px;
  position: relative;
  padding: 20px 40px 40px; }
  @media (max-width: 570px) {
    .tax-info-two {
      margin-top: 0; } }
  @media (max-width: 480px) {
    .tax-info-two {
      padding: 20px; } }
  .tax-info-two .img-tax-info {
    position: relative;
    top: -60px;
    right: -40px;
    float: right; }
    @media (max-width: 480px) {
      .tax-info-two .img-tax-info {
        display: none; } }
  .tax-info-two .title-info {
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 24px; }
    @media (max-width: 480px) {
      .tax-info-two .title-info {
        font-size: 18px;
        letter-spacing: 1px; } }

.tax-info-three {
  padding: 10px; }
  .tax-info-three .img-tax-info {
    float: right;
    display: inline-block; }
  .tax-info-three .title-info {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.8;
    margin: 40px;
    font-size: 27px; }
    @media (max-width: 480px) {
      .tax-info-three .title-info {
        font-size: 18px;
        letter-spacing: 1px; } }

.section-tax-facts {
  padding-bottom: 50px;
  background-color: #F6F6F6; }

.item-tax-2 {
  position: relative;
  margin-bottom: 30px; }
  .item-tax-2 .subitem-tax-2 {
    background-color: #e7e0d7;
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: 6px; }
    .item-tax-2 .subitem-tax-2 img {
      display: block;
      width: 100%;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
  .item-tax-2 .tax-content {
    padding: 20px 8px 30px;
    text-align: center; }
  .item-tax-2 .tax-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1.3em;
    color: black; }
  .item-tax-2 .tax-subtitle {
    color: black; }

.quote-container {
  /*background: url('../images/credits/thumb.jpg') top center no-repeat;
  background-size: cover;	
  -moz-background-size: cover;	
  -webkit-background-size: cover;	*/
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 60px; }
  @media screen and (min-width: 48em) {
    .quote-container {
      min-height: 400px; } }

.quote-thumb {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #0273b8; }

.quote-caption {
  background: #0273b8;
  color: white;
  font-style: italic;
  font-size: 18px;
  padding: 15px 28px; }
  @media screen and (min-width: 70em) {
    .quote-caption {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      max-width: 350px;
      font-size: 21px; } }
  .quote-caption:before {
    content: '';
    position: absolute;
    left: -70px;
    top: 0;
    width: 70px;
    height: 60px;
    background: #0273b8 url("../images/credits/quotes.png") center center no-repeat;
    background-size: 45px auto; }
  .quote-caption .name {
    font-weight: 700;
    display: block;
    font-style: normal;
    margin: 20px 0 9px; }
  .quote-caption .info {
    font-size: 0.8em; }

.item-campaign {
  margin-bottom: 40px; }
  .item-campaign .title-campaign {
    margin-bottom: 20px; }
  .item-campaign p {
    line-height: 1.4; }

.involved-img {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/get-involved/giveback.jpg");
  padding: 8% 9%;
  text-align: center; }
  .involved-img .involved-caption h3 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 26px;
    color: white;
    text-transform: uppercase; }
  .involved-img .involved-caption p {
    color: white;
    line-height: 1.8;
    font-size: 23px; }

.btn-show {
  padding: 8px 18px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  @media (max-width: 995px) {
    .btn-show {
      display: block !important; } }
  .btn-show i {
    margin-right: 5px; }

.active-nav {
  left: 0 !important; }

.nav-sidebar {
  left: -40%;
  width: 40%;
  text-align: left;
  z-index: 999;
  position: fixed;
  height: 100%;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  padding: 20px 0 40px;
  display: block;
  background: #f7941d; }

@media (max-width: 480px) {
  .nav-sidebar {
    left: -60%;
    width: 60%; } }
.nav-sidebar ul {
  position: relative;
  z-index: 999;
  margin: 0;
  list-style: none outside none;
  padding: 0; }

.nav-sidebar li a {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  padding: 8px 15px;
  display: block;
  font-size: 13px; }

.nav-sidebar li:hover a, .nav-sidebar li:focus a {
  background-color: #d97a08; }

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }

.wrapper .wrapper-inner {
  float: right;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  position: relative;
  width: 100%;
  display: block; }

.wrapper .on-active {
  margin-right: -40%; }

@media (max-width: 480px) {
  .wrapper .on-active {
    margin-right: -60%; } }
.wrapper .on-active .mask-rwd {
  opacity: 1;
  visibility: visible; }

.mask-rwd {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.35);
  z-index: 33;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms ease-out;
          transition: all 350ms ease-out; }

.btn-hide {
  display: block;
  padding: 8px 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: #8dc63f;
  cursor: pointer; }

.btn-hide i {
  font-size: 18px; }

.btn-hide:hover, .btn-hide:focus {
  color: white;
  background: #72a230; }

.section-banner {
  position: relative;
  padding-top: 0 !important; }
  .section-banner .subsection-banner {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 350px; }

.subsection-banner .group-info-banner {
  position: relative;
  bottom: 0;
  z-index: 1;
  overflow: hidden; }
.subsection-banner .banner-img {
  width: 100%;
  position: relative; }

.group-info-banner {
  padding-top: 60px; }

.item-banner {
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 3px solid black;
  margin-bottom: -30px; }
  @media (max-width: 570px) {
    .item-banner {
      width: 100% !important;
      margin-bottom: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      overflow: hidden; } }
  .item-banner.nopadd {
    padding-left: 0;
    padding-right: 0; }
  .item-banner.left-bg:before, .item-banner.left-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .item-banner.left-bg:before {
    height: 3px;
    background-color: black;
    left: -100.1%;
    top: -3px; }
  .item-banner.left-bg:after {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: -100.1%;
    top: 0; }
  .item-banner.right-bg:before, .item-banner.right-bg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; }
  .item-banner.right-bg:before {
    height: 3px;
    background-color: black;
    right: -100.3%;
    top: -3px; }
  .item-banner.right-bg:after {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    right: -100.3%;
    top: 0; }
  .item-banner.bord-left {
    border-left: 1px solid rgba(255, 255, 255, 0.3); }
    @media (max-width: 570px) {
      .item-banner.bord-left {
        border-left: 0; } }
  .item-banner.bord-right {
    border-right: 1px solid rgba(255, 255, 255, 0.3); }
    @media (max-width: 570px) {
      .item-banner.bord-right {
        border-right: 0; } }
  .item-banner .title-info {
    margin: 0;
    font-size: 27px;
    font-family: "Lato", sans-serif;
    color: white;
    text-transform: capitalize;
    font-weight: normal;
    padding: 30px 15px;
    z-index: 3;
    position: relative;
    -webkit-transition: all 550ms ease;
            transition: all 550ms ease; }
    @media (max-width: 995px) {
      .item-banner .title-info {
        font-size: 24px; } }
  .item-banner .subtitle-info {
    -webkit-transition: all 450ms ease;
            transition: all 450ms ease;
    position: relative;
    z-index: 3;
    margin: 0;
    color: white;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px); }

.subitem-banner {
  padding: 15px;
  display: block;
  position: relative; }
  .subitem-banner:hover:before, .subitem-banner:focus:before {
    top: -60px; }
  .subitem-banner:hover:after, .subitem-banner:focus:after {
    top: -57px; }
  .subitem-banner:hover .title-info,
  .subitem-banner:hover .subtitle-info, .subitem-banner:focus .title-info,
  .subitem-banner:focus .subtitle-info {
    -webkit-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
            transform: translateY(-60px); }
  @media (max-width: 570px) {
    .subitem-banner:hover .title-info, .subitem-banner:focus .title-info {
      -webkit-transform: translateY(-100px);
          -ms-transform: translateY(-100px);
              transform: translateY(-100px); } }
  .subitem-banner:before, .subitem-banner:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    -webkit-transition: all 350ms ease-out;
            transition: all 350ms ease-out; }
  .subitem-banner:before {
    height: 3px;
    background-color: #009eff;
    top: 100%; }
  .subitem-banner:after {
    height: 300px;
    background-color: #0077c0;
    top: 100%; }

.btn-green {
  background-color: #77bb1a;
  color: white; }
  .btn-green:hover, .btn-green:focus {
    color: white;
    background-color: #333; }

.btn-fullwidth {
  width: 100%; }

.item-learnmore h5 {
  margin-top: 0;
  font-size: 18px;
  line-height: 1.6; }

.list-check {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  font-size: 16px !important; }
  .list-check li {
    position: relative;
    padding-left: 30px;
    display: block;
    margin-bottom: 20px; }
    .list-check li:before {
      position: absolute;
      content: "\f00c";
      font-family: "FontAwesome";
      color: #93c949;
      left: 0;
      top: 0;
      min-width: 15px; }
    .list-check li p {
      position: relative; }

.form-learnmore {
  position: relative;
  background: #fafafa;
  border: 1px solid #e7e0d7; }
  .form-learnmore .header-form,
  .form-learnmore .content-form {
    padding: 30px 20px; }
  .form-learnmore .header-form {
    background-color: #1dbdff;
    text-align: center; }
    .form-learnmore .header-form h3, .form-learnmore .header-form p {
      color: white; }
    .form-learnmore .header-form h3 {
      margin: 0 0 5px;
      font-size: 22px; }
    .form-learnmore .header-form p {
      font-size: 16px;
      margin-bottom: 0; }
  .form-learnmore .field-box {
    margin-bottom: 15px; }
    .form-learnmore .field-box input {
      border: 1px solid #cccccc;
      padding: 1em; }
  .form-learnmore .btn-csf {
    border: none;
    padding: 1.1em 1em; }

.item-quote blockquote {
  position: relative;
  padding: 0px; }
.item-quote p {
  position: relative;
  padding: 0 40px;
  margin-bottom: 20px; }
  .item-quote p:before, .item-quote p:after {
    position: absolute;
    font-family: "FontAwesome";
    color: #0077c0;
    font-size: 21px; }
  .item-quote p:before {
    content: "\f10d";
    top: 0;
    left: 0; }
  .item-quote p:after {
    content: "\f10e";
    bottom: 0;
    right: 0; }
.item-quote cite,
.item-quote .some-desc {
  margin-left: 45px; }
.item-quote cite {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
  font-style: normal; }
.item-quote .some-desc {
  color: #666666;
  font-weight: bold; }
  .item-quote .some-desc:before {
    content: ""; }

.section-partners {
  border-bottom: 1px solid #e7e0d7; }

.partners-carousel .item {
  position: relative;
  z-index: 1; }
.partners-carousel .owl-controls {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%; }
.partners-carousel .owl-prev,
.partners-carousel .owl-next {
  position: absolute;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
          transition: opacity 250ms ease, transform 250ms ease;
  font-size: 12px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #333;
  color: #333;
  background-color: white; }
  .partners-carousel .owl-prev:hover, .partners-carousel .owl-prev:focus,
  .partners-carousel .owl-next:hover,
  .partners-carousel .owl-next:focus {
    opacity: .7; }
.partners-carousel .owl-prev {
  left: -45px; }
  @media (max-width: 1200px) {
    .partners-carousel .owl-prev {
      left: -15px; } }
.partners-carousel .owl-next {
  right: -45px; }
  @media (max-width: 1200px) {
    .partners-carousel .owl-next {
      right: -15px; } }

/*  WIDGET'S
/* ------------------------------------ */
.widget {
  margin-bottom: 30px; }
  .widget .title-widget {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px; }

@media screen and (min-width: 75em) {
  .widget-touch {
    float: right; } }
.widget-touch .list-touch {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  .widget-touch .list-touch li {
    display: block; }
    @media (max-width: 65em) {
      .widget-touch .list-touch li {
        float: left;
        margin-right: 13px; } }
  .widget-touch .list-touch a {
    color: black;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 35px;
    display: block;
    margin-left: -5px; }
    .widget-touch .list-touch a i {
      color: #5E6063;
      display: block;
      font-size: 18px;
      float: left;
      opacity: .65;
      -webkit-transition: all 350ms ease;
              transition: all 350ms ease;
      margin-right: 5px;
      width: 28px;
      position: relative;
      top: 7px;
      left: 5px; }
    .widget-touch .list-touch a:hover i, .widget-touch .list-touch a:focus i {
      opacity: .35; }
.widget-touch .ico-csf {
  background-image: url("../images/peoples/kompass.png"); }
.widget-touch .ico {
  background-repeat: no-repeat;
  background-size: 30px;
  text-align: center;
  height: 30px;
  width: 30px;
  display: block;
  position: relative;
  left: 1px !important;
  top: 3px !important; }

.widget-subscribe p:first-child {
  margin-bottom: 15px;
  font-weight: bold; }

.widget-info .text-info,
.widget-info .list-info {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  line-height: 1.9em;
  letter-spacing: 0.1em; }
.widget-info .list-info {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  .widget-info .list-info li {
    line-height: 1.6; }
    .widget-info .list-info li:nth-child(2) {
      margin-bottom: 10px; }

.nobord-bottom {
  border-bottom: none; }

@media screen and (min-width: 38em) {
  .box-container {
    padding: 50px; } }

/** DEMAND AND IMPACT
===================================*/
.box-rate {
  border: 1px solid #9c9c9c;
  padding: 25px;
  margin-top: 50px; }
  .box-rate:before, .box-rate:after {
    content: " ";
    display: table; }
  .box-rate:after {
    clear: both; }
  .box-rate p {
    font-size: 16px;
    line-height: 1.5em; }

.boxrate-title, .boxrate-title-green {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'proximanova-bold';
  text-align: center;
  margin-top: -50px;
  margin-bottom: 60px; }
  .boxrate-title span, .boxrate-title-green span {
    display: inline-block;
    vertical-align: top;
    padding: 9px 25px;
    background-color: #00529e;
    color: white;
    box-shadow: 4px 4px 0px 0px #82c037;
    -moz-box-shadow: 4px 4px 0px 0px #82c037;
    -webkit-box-shadow: 4px 4px 0px 0px #82c037; }

.boxrate-title-green span {
  background-color: #82c037;
  color: white;
  box-shadow: 4px 4px 0px 0px  #00529e;
  -moz-box-shadow: 4px 4px 0px 0px  #00529e;
  -webkit-box-shadow: 4px 4px 0px 0px  #00529e; }

.demand-list {
  text-align: left; }
  .demand-list li {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 50px; }
    .demand-list li .content-text {
      line-height: 1.4em;
      font-size: 16px; }
      .demand-list li .content-text p {
        line-height: 1.4em;
        font-size: 16px; }
  @media screen and (min-width: 48em) {
    .demand-list {
      text-align: center; }
      .demand-list li {
        width: 49%; } }
  .demand-list .rate-area {
    position: relative;
    margin: 0 auto 20px;
    overflow: hidden;
    word-wrap: break-word; }
    .demand-list .rate-area sup, .demand-list .rate-area sub {
      font-size: 40px; }
    .demand-list .rate-area sub {
      bottom: 0; }
    .demand-list .rate-area sup {
      top: 23px;
      vertical-align: top; }
    .demand-list .rate-area h4 {
      margin: 0;
      font-size: 50px;
      font-family: 'proximanova-semiBold';
      font-weight: normal;
      color: #82c037;
      line-height: 0.8em; }

.demandlist-poverty .rate-area {
  padding-bottom: 10px;
  max-width: 280px; }
  .demandlist-poverty .rate-area h4 {
    font-size: 100px;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
    text-shadow: -2px -1px 0 white; }

.demandlist-lunch .rate-area {
  padding-top: 20px; }
  .demandlist-lunch .rate-area h4 {
    float: left;
    font-size: 140px; }
    @media screen and (min-width: 38em) {
      .demandlist-lunch .rate-area h4 {
        margin-right: -35px; }
        .demandlist-lunch .rate-area h4 span {
          display: inline-block;
          min-width: 180px; } }
  .demandlist-lunch .rate-area figure {
    overflow: hidden;
    position: relative;
    top: -20px; }

.demandlist-grad .rate-area {
  max-width: 275px;
  position: relative;
  padding-top: 80px; }
  .demandlist-grad .rate-area h4 {
    font-size: 100px;
    text-align: right; }
  .demandlist-grad .rate-area figure {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 150px; }

.demandlist-app .rate-area {
  max-width: 240px; }
  .demandlist-app .rate-area h4 {
    font-size: 70px;
    line-height: 0.7em; }
    .demandlist-app .rate-area h4 small {
      font-size: 43px;
      color: #82c037;
      line-height: 1em; }
  .demandlist-app .rate-area figure {
    max-width: 240px;
    overflow: hidden;
    margin-bottom: 15px; }

/** IMPACT
===================================*/
.impact-row {
  overflow: hidden;
  margin-bottom: 35px; }

.impactcircle-thumb {
  text-align: center;
  max-width: 280px;
  margin: 0 auto 25px;
  margin-bottom: 25px; }
  @media screen and (min-width: 48em) {
    .impactcircle-thumb {
      float: left;
      margin: 0;
      margin-right: 35px; } }

.impactcirle-desc {
  overflow: hidden; }
  .impactcirle-desc li {
    display: block;
    margin-bottom: 30px; }
    .impactcirle-desc li h4 {
      margin: 0;
      margin-bottom: 18px;
      font-size: 70px;
      font-family: 'proximanova-semiBold';
      font-weight: normal;
      color: #82c037;
      line-height: 0.8em;
      text-align: center;
      width: 150px; }
      @media screen and (min-width: 38em) {
        .impactcirle-desc li h4 {
          float: left;
          margin: 0;
          margin-right: 20px;
          text-align: left; } }
    .impactcirle-desc li .content-text {
      overflow: hidden; }

.impact-maindesc li {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 50px; }
  .impact-maindesc li .content-text {
    line-height: 1.4em;
    font-size: 16px; }
    .impact-maindesc li .content-text p {
      line-height: 1.4em;
      font-size: 16px; }
@media screen and (min-width: 48em) {
  .impact-maindesc {
    text-align: center; }
    .impact-maindesc li {
      width: 49%; } }

.impact-schoolar {
  text-align: center; }
  .impact-schoolar header {
    margin-bottom: 20px; }
    .impact-schoolar header span {
      font-size: 37px;
      color: #82c037; }
      .impact-schoolar header span.text-btm {
        font-size: 47px; }
    .impact-schoolar header h4 {
      font-size: 75px;
      color: #00529e;
      line-height: 0.8em;
      margin: 0; }

.impact-note figure {
  max-width: 180px;
  overflow: hidden;
  margin: 0 auto 25px; }
