.header-article{
	h4{
		margin: 0;
		line-height: 1.4;
		a{
			color: black;
			&:hover, &:focus{
				color: $color-blue;
			}
		}
	}
	.entry-meta-extra{
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 5px;
		@media (max-width: 1110px) {
		    font-size: 11px;
		}
		@media (max-width: 480px) {
		    font-size: 10px;
		}
	}
}

.article-blog-widget{
	padding-top: 20px;
	figure, .header-article{
		float: left;
	}
	figure{
		width: 40%;
	}
	.header-article{
		width: 60%;
		padding-right: 60px;
		padding-left: 30px;
		h4{
			color: #f6f6f6;
			font-size: 25px;
			font-weight: normal;
			margin-bottom: 15px;
			line-height: 1.4;
			@media (max-width: 1110px) {
			    font-size: 18px;
			}
			@media (max-width: 480px) {
			    font-size: 14px;
			    font-weight: bold;
			}
		}
	}
}

.article-news-widget{
	.header-article{
		margin-bottom: 10px;
		h4{
			font-size: 18px;
		}
	}
}

#recent-blog{
	@media (max-width: 480px) {
	    margin-bottom: 50px;
	}
}