.btn-csf{
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 18px;
	@media (max-width:981px) {
		font-size: 10px;
	}
	&:hover, &:focus{
		background-color: transparent;
		color: white;
	}
}

.btn-line{
	border: 2px solid white;
	color: white;
	&:hover, &:focus{
		opacity: .65;
		color: white;
	}
}

.btn-line-blue{
	border: 2px solid $color-blue-dark;
	color: $color-blue-dark;
	&:hover, &:focus{
		opacity: .65;
		color: $color-blue-dark;
	}
	&.btn-s{
		border-width: 1px;
	}
}

.btn-blue{
	background: $color-blue;
	color: white;
	&:hover, &:focus{
		background: $color-blue-asin;
		color: white;
	}
}

.btn-orange{
	background: $color-orange;
	color: white;
	&:hover, &:focus{
		background: $color-green-dark;
		color: white;
	}
}

.btn-divide-blue{
	background-color: $color-blue-dark;
	color: white;
	padding: 0;
	position: relative;
	overflow: hidden;
	height: 36px;
	span, i{
		height: 40px;
		line-height: 34px;
	}
	span{
		padding-right: 15px;
		padding-left: 15px;
	}
	i{
		background-color: $color-blue;
		text-align: center;
		width: 36px;
		display: inline-block;
		position: relative;
		top: -1px;
	}
	&:hover, &:focus{
		background-color: $color-blue-dark;
		color: white;
		opacity: .75;
	}
}

.btn-s{
	padding: 4px 12px;
	font-size: 10px;
}

.btn-l{
	font-size: 16px;
	padding: 12px 26px;
	@media (max-width: 480px) {
	    font-size: 14px;
	}
}

.btn-radius{
	border-radius: 3px;
}

.combo-years{
	.btn-combo{
		display: block;
		height: 42px;
		line-height: 42px;
		border: 1px solid black;
		color: black;
		min-width: 180px;
		text-align: left;
		padding: 0px 15px;
		i{
			border-left: 1px solid black;
			display: block;
			width: 42px;
			height: 42px;
			line-height: 42px;
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
		}
	}
}
.menu-years{
	width: 100%;
	border-radius: 0;
	box-shadow: none;
	>li{
		>a{
			padding: 8px 20px;
			&:hover,
			&:focus{
				background-color: $color-sidebar;
			}
		}
	}
}