.contact-section{
	.section-header{
		h3{
			margin-bottom: 0;
			// letter-spacing: 0;
		}
	}
}

.map-container{
	position: relative;
	width: 100%;
	height: 430px;
	background-color: $color-gray;
	border: 2px solid $color-green;
	margin-bottom: 70px;
	overflow: hidden;
}

.map-information{
	position: absolute;
	right: -2px;
	top: -2px;
	z-index: 33;
	background-color: rgba( $color-blue-dark, .85);
	color: white;
	padding: 30px 30px 50px;
	h4{
		margin-top: 0;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 14px;
		color: rgba( white, .5 );
		@media (max-width: 480px) {
		    font-size: 12px;
		}
	}
	p{
		font-size: 18px;
		margin-bottom: 30px;
		text-transform: uppercase;
		@media (max-width: 480px) {
		    font-size: 12px;
		}
	}
}

#map{
	position: absolute;
	width: 100%;
	height: 430px;
}