.credit-item{
	.item-img{
		img{
			width: 100%;
		}
	}
	.item-desc{
		position: relative;
		padding: 10% 60px;
		color: white;
	}
	.title{
		color: white;
		font-size: 44px;
		font-weight: bold;
		@media (max-width:1110px){
			font-size: 38px;
		}
		@media (max-width: 767px) {
		    font-size: 32px;
		}
		@media (max-width: 480px) {
		    font-size: 28px;
		}
	}
	.subtitle{
		font-size: 21px;
		margin-bottom: 30px;
		@media (max-width:1110px){
			font-size: 18px;
		}
		@media (max-width: 767px) {
		    font-size: 16px;
		}
		@media (max-width: 480px) {
		    font-size: 14px;
		}
	}

}

.credit-desc{
	@media (max-width: 990px) {
	    height: auto !important;
	}
}