
.footer-site{
	position: relative;
	padding-top: 70px;
	.line-sep{
		margin-bottom: 30px;
	}
	.footer-widget{
		padding-bottom: 50px;
		@media (max-width: 480px) {
		    padding-bottom: 20px;
		}
	}
}


.copyright{
	font-size: 10px;
	text-transform: uppercase;
	color: black;
	margin: 0 0 30px;
	@media (max-width: 480px) {
	    margin-bottom: 15px;
	}
	a{
		color: black;
		&:hover, &:focus{
			color: $color-blue;
		}
	}
}

.nav-footer{
	list-style: none outside none;
	margin: 0 0 30px;
	padding: 0;
	@media (max-width: 480px) {
	    float: left !important;
	}
	li{
		float: left;
		position: relative;
		font-size: 10px;
		text-transform: uppercase;
		color: black;
		margin: 0;
		&:last-child{
			a{
				padding-right: 0;
				@media (max-width: 480px) {
				    padding-left: 10px;
				}
				&:after{
					width: 0;
				}
			}
		}
		a{
			color: black;
			display: block;
			padding: 0 10px;
			position: relative;
			&:after{
				content: "";
				position: absolute;
				height: 100%;
				top: 0;
				width: 1px;
				left: 100%;
				background-color: rgba( black, .35 );
			}
			@media (max-width: 480px) {
			    padding-left: 0;
			}
			&:hover, &:focus{
				color: $color-blue;
			}
		}
	}
}