input[type="text"], input[type="email"], input[type="website"], input[type="search"], input[type="url"], textarea{
	width: 100%;
}

input, textarea{
	padding: 7px 14px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
}

input[type="checkbox"]{
	display: none;
	+ .field-text{
		display: inline-block;
		width: 28px;
		height: 28px;
		vertical-align: middle;
		margin: -1 15px 0 0;
		position: relative;
		white-space: nowrap;
		top: -10px;
		text-transform: capitalize;
		cursor: pointer;
		&:before{
			content: "";
			display: inline-block;
			height: 28px;
			width: 28px;
			margin: -1px 5px 0px 0px;
			background-image: url("../images/sprite/check@2x.png");
			background-position: 0px 28px;
			position: relative;
			top: 9px;
		}
	}
}

input[type="checkbox"]:checked+.field-text:before{
	background-position: 28px 28px;	
	left: 4px;
}

.field-box{
	.label-field{
		font-weight: bold;
		text-transform: capitalize;
		display: block;
		color: black;
	}
}

.interest-box{
	margin-top: 20px;
	margin-bottom: 30px;
	.label-field{
		display: inline-block;
		margin-right: 10px;
		float: left;
	}
	.helper-box{
		display: block;
		margin-left: 80px;
	}
}
.field-info{
	display: block;
	label{
		font-weight: normal;
		span{
			position: relative;
			margin-left: 25px;
			text-transform: capitalize;
			white-space: nowrap;
			top: -4px;
		}
	}	
}

.form-subscribe{
	.field-info{
		margin-bottom: 5px;
	}
}

.form-contact{
	.field-box{
		position: relative;
		background-color: white;
		padding: 10px 15px;
		margin-bottom: 30px;
		transition: all 300ms ease-out;
		&.on-focus{
			box-shadow: inset 0 0px 0 2px $color-green;
			.label-field-2{
				span{
					color: $color-green;
				}
			}
		}
	}
	input, textarea{
		border: none;
		background: transparent;
		color: black;
		font-size: 26px;
	}
	.label-field-2{
		font-size: 13px;
		text-transform: uppercase;
		// letter-spacing: 2px;
		display: block;
		padding-bottom: 5px;
		span{
			color: #acacac;
		}
	}
}
