html, body{
	height: 100;
}

body{
	font-family: $lato;
	font-size: 14px;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	transition: all 250ms ease-out;
	&:hover, &:focus{
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	color: black;
}

.nopadd{
	padding-left: 0;
	padding-right: 0;
}

.nomarg{
	margin-left: 0;
	margin-right: 0;
}

