.header-site{
	width: 100%;
	position: relative;
}

.header-information{
	height: 38px;
	border-bottom: 2px solid #e7e0d7;
	@media (max-width: 480px) {
	    height: auto;
	    padding: 10px 0;
	}
	p{
		color: white;
		line-height: 36px;
		margin: 0;
		@media (max-width: 480px) {
		    line-height: 1.3;
		}
	}
	a{
		color: white;
		&:hover, &:focus{
			color: $color-blue;
		}
		i{
			position: relative;
			top: 1px;
		}
	}
	&.bg-gray{
		p{
			color: black !important;
		}
		a{
			color: $color-blue !important;
			&:hover, &:focus{
				color: $color-blue-asin !important;
			}
		}
	}
}

.header-main{
	padding: 20px 0;
	.paddtb15{
		@media (max-width:995px) {
		    padding: 0;
		    .box-inline{
		    	text-align: center;
		    	float: none !important;
		    }
		    .line-right{
		    	border-right: none;
		    }
		}
	}
	.box-inline{
		@media (max-width:995px) {
		    display: block;
		}
		.btn-csf{
			margin-right: -10px;
		}
	}

}

.logo-holder{
	@media (max-width:995px) {
	    text-align: center;
	    margin-bottom: 30px;
	}
}

.top-icon-link{
	position: relative;
	margin-right: -10px;
	padding: 5px 0;
	@media (max-width:995px) {
		text-align: center;
	}
	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0 0 2px;
	}
	li{
		float: left;
		position: relative;
		margin-left: 5px;
		@media (max-width:995px) {
			float: none;
			display: inline-block;
			margin: 0 4px;
		}
	}
	a{
		// font-size: 0;
		// color: transparent;
		// line-height: 0;
		color: $color-icon;
		display: block;
		font-size: 18px;
		width: 28px;
		font-size: 21px;
		 text-align: center;
		&:hover, &:focus{
			opacity: .65;
		}
	}

}

.header-navigation{
	// background-image: linear-gradient( lighten( $color-orange, 5% ), #e79322 );
	background-color: $color-orange;
	font-size: 17px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 2px solid $color-green;
	@media (max-width:1200px) {
		font-size: 14px; 
	}
	
}

.active-nav{
	left: 0 !important;
}

.btn-rwd-nav{
	display: none;
	padding: 8px 10px;
	color: white;
	position: relative;
	z-index: 22;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	transition: all .35s ease-out;
	&:hover, &:focus{
		background-color: $color-green;
	}
	@media (max-width:995px) {
		display: block;
	}
	// @media (max-width: 480px) {
	//     display: block;
	// }
}

.nav-dropdown{
	@media (max-width:995px) {
		display: none;
	}
	// @media (max-width: 480px) {
	//     display: none;
	// }
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		text-align: center;
		li{
			position: relative;
			float: left;
			// display: inline-block;
			&:first-child{
				&:before{
					content: "";
					position: absolute;
					height: 100%;
					top: 0;
					width: 1px;
					background: rgba( white, .45);
					left: 0%;
				}
			}
			&:after{
				content: "";
				position: absolute;
				height: 100%;
				top: 0;
				width: 1px;
				background: rgba( white, .45);
				left: 100%;
			}
			&.active{
				>a{
					&:after{
						top: 0;
					}
				}
			}
			&:hover, &:focus{
				> a{
					&:after{
						top: 0;
					}
				}
				> ul{
					opacity: 1;
					visibility: visible;
				}
			}
			> a{
				display: block;
				padding: 15px 20px;
				color: white;
				position: relative;
				z-index: 22;
				overflow: hidden;
				@media (max-width:990px) {
					padding: 8px 10px;
				}
				&:after{
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 150%;
					left: 0;
					background: $color-green; 
					z-index: -1;
					transition: all 300ms ease-out, all 450ms ease-out;
				}
			}
			> ul{
				display: block;
				position: absolute;
				min-width: 265px;
				top: 56px;
				border: 2px solid $color-green;
				border-top: none;
				background-color: #eef8e1;
				opacity: 0;
				visibility: hidden;
				transition: opacity 350ms ease;
				z-index: 999;
				@media (max-width:1110px){
					top: 52px;
				}
				@media (max-width:981px) {
					top: 35px;
				}
				li{
					float: none;
					display: block;
					> a{
						font-size: 12px;
						color: $color-black;
						padding: 15px;
						border-bottom: 1px solid rgba( black, .2 );
						transition-delay: .250ms;
						@media (max-width:981px) {
						    padding: 8px 14px;
						}
					}
					&:hover, &:focus{
						>a{
							color: white;
						}
					}
					&:last-child{
						> a{
							border-bottom: none;
						}
					}
				}
			}

		}
	}
}

.nav-sidebar{
	left: -40%;
	// left: -40%; // for test
	@media (max-width: 480px) {
	    left: -60%;
	    width: 60%;
	}
	width: 40%;
	text-align: left;
	z-index: 999;
	position: fixed;
	height: 100%;
	transition: all 0.5s ease;
	padding: 20px 0 40px;
	display: block;
	background: $color-orange;
	ul{
		position: relative;
		z-index: 999;
		margin: 0;
		list-style: none outside none;
		padding: 0;
	}
	li{
		a{
			color: white;
			text-transform: capitalize;
			font-weight: bold;
			padding: 8px 15px;
			display: block;
			font-size: 13px;
		}
		&:hover, &:focus{
			a{
				background-color: darken( $color-orange, 10% );
			}
		}
	}
}

.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		float: right;
		transition: all .5s ease;
		position: relative;
		width: 100%;
		display: block;
	}
	.on-active{
		margin-right: -40%;
		@media (max-width: 480px) {
		    margin-right: -60%;
		}
		.mask-rwd{
			opacity: 1;
			visibility: visible;
		}
	}
}

.mask-rwd{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba( white, .35);
	z-index: 33;
	opacity: 0;
	visibility: hidden;
	transition: all 350ms ease-out;
}

.btn-hide{
	display: block;
	padding: 8px 15px;
	color: white;
	text-transform: capitalize;
	font-weight: bold;
	margin-bottom: 30px;
	background-color: $color-green-dark;
	cursor: pointer;
	i{
		font-size: 18px;
	}
	&:hover, &:focus{
		color: white;
		background: darken( $color-green-dark, 10%);
	}
}