$spacer:
	( space15, 15px),
	( space30, 30px),
	( space60, 60px);

@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

.box-inline{
	padding: 0 30px;
	display: inline-block;
}

.social-sprite-small{
	background-image: url('../images/sprite/sprite-social-small.png');
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 240dpi){
		background-image: url('../images/sprite/sprite-social-small@2x.png');
	}
}

.small-fb,
.small-tw,
.small-yt,
.small-cm,
.small-li{
	background-size: 28px;
	height: 28px;
	width: 28px;
	// font-size: 0px;
	// color: transparent;
	// line-height: 0;
	display: inline-block; 
}
.small-fb{
	background-image: url("../images/facebook.png");
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 240dpi){
		background-image: url("../images/facebook@2x.png");
	}
}
.small-tw{
	background-image: url("../images/twitter.png");
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 240dpi){
		background-image: url("../images/twitter@2x.png");
	}
}
.small-yt{
	background-image: url("../images/youtube.png");
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 240dpi){
		background-image: url("../images/youtube@2x.png");
	}
}
.small-cm{
	background-image: url("../images/kompass.png");
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 240dpi){
		background-image: url("../images/kompass@2x.png");
	}
}
.small-li{
	background-image: url("../images/linkedin.png");
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 240dpi){
		background-image: url("../images/linkedin@2x.png");
	}
}

.line-right{
	border-right: 1px solid $color-line;
}

.bord-bottom{
	border-bottom: 1px solid $color-line;
}

.nopadd{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.nomarg{
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.paddtb15{
	padding: 15px 0;
}
.nobord-bottom{
	border-bottom: none;
}

.nobord-top{
	border-top: none;
}

.noshadow{
	box-shadow: none;
}

.bg-green{
	background-color: $color-green-dark;
}

.bg-blue{
	background-color: $color-blue-dark;
}

.bg-blue-asin{
	background-color: $color-blue-asin;
}

.bg-gray{
	background-color: $color-gray;
}

.text-left{
	text-align: left;
}

.text-browse{
	margin-top: 30px;
	margin-bottom: 0;
	a{
		color: #a3a3a3;
		font-size: 13px;
		text-transform: uppercase;
		&:hover, &:focus{
			color: $color-orange;
		}
	}
	i{
		position: relative;
		top: -1px;
	}
}

.half-more,
.half-less,
.half{
	float: left;
}

.half{
	width: 50%;
	@media (max-width: 480px) {
	    width: 100%;
	}
}

.half-more{
	width: 65%;
	@media (max-width: 480px) {
	    width: 100%;
	}
}
.half-less{
	width:35%;
	@media (max-width: 480px) {
	    width: 100%;
	}
}

.in-left{
	padding-right: 15px;
	@media (max-width: 480px) {
	    padding: 0;
	}
}
.in-right{
	padding-left: 15px;
	@media (max-width: 480px) {
	    padding: 0;
	}
}


.line-sep{
	margin: 0 0 20px;
	border-color: $color-line;
} 

.text-italic{
	font-style: italic;
}