.item{
	padding: 100px 0 130px;
	text-align: center;
	.item-caption{
		max-width: 725px;
		margin: 0 auto;
		color: white;
		@media (max-width: 480px) {
		    padding: 0 20px;
		}
	}
}

.item-caption{
	h1, p{
		margin-top: 0;
		margin-bottom: 30px;
		font-weight: 300;
	}
	h1{
		color: white;
		font-size: 38px;
		@media (max-width: 480px) {
		    font-size: 28px;
		}
	}
	p{
		line-height: 1.8;
		@media (max-width: 480px) {
		    line-height: 1.4;
		}
	}
}
.item-bg{
	position: relative;
	background-size: center center;
	background-position: cover;
	background-repeat: no-repeat;
	width: 100%;
	background-color: rgba( black, .25 );
}

.item-bg-1{
	background-image: url("../images/intro/1.jpg");
} 

.item-bg-2{
	background-image: url("../images/intro/2.jpg");
}

.item-bg-3{
	background-image: url("../images/intro/3.jpg");
}

