.item-impact{
	margin-bottom: 30px;
	&-inner{
		background-color: white;
		position: relative;
		border-radius: 6px;
	}
	.item-img, .item-desc{
		width: 50%;
		float: left;
		display: block;
		// overflow: hidden;
	}
	.item-desc{
		padding: 6% 5%;;
		position: relative;
		.title{
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 15px;
			text-transform: uppercase;
			// letter-spacing: 2px;
			@media (max-width: 570px) {
			    font-size: 14px;
			}
		}
		.subtitle{
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
	img{
		display: block;
		width: 100%;
	}
	.btn-csf{
		position: absolute;
		bottom: -30px;
	}
}
