.information-section{
	background-color: #fbfbfb;
	margin-top: 60px;
	border-top: 1px solid $color-green;
	position: relative;
	box-shadow: inset 0 -30px 20px -15px rgba(black, .1 );
	.mask-pattern{
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		background-image: url("../images/pattern.png");
		opacity: .35;
	}
}

.inner-information{
	padding: 15px 0 60px;
	position: relative;
	.text-info{
		color: black;
		font-size: 21px;
		text-align: right;
		float: right;
		max-width: 600px;
		margin-right: 30px;
		@media (max-width:1199px) {
		    font-size: 18px;
		}
		@media (max-width: 570px) {
		    margin-right: 0;
		    float: none;
		    text-align: left;
		}
	}
	.btn-csf{
		margin-top: 20px;
		@media (max-width:1199px) {
		    margin-top: 0;
		    width: 100%;
		}
		&:first-child{
			margin-right: 10px;
			@media (max-width:1199px) {
			    margin-right: 0;
			    margin-bottom: 10px;
			}
			@media (max-width: 570px) {
			    margin-top: 30px;
			}
		}
	}
}
