.main-site{
	background-color: #f6f6f6;
	position: relative;
}

.section-site{
	padding-top: 50px;
}

.section-header{
	margin-bottom: 30px;
	h2, h3{
		margin-top: 0;
		margin-bottom: 15px;
	}
	h2{
		font-size: 44px;
		@media (max-width:1110px){
			font-size: 38px;
		}
		@media (max-width: 767px) {
		    font-size: 32px;
		}
		@media (max-width: 480px) {
		    font-size: 28px;
		}
	}
	h3{
		font-size: 26px;
		@media (max-width:1110px){
			font-size: 21px;
		}
	}
	.subtitle{
		font-size: 21px;
		color: black;
		@media (max-width:1110px){
			font-size: 18px;
		}
		@media (max-width: 480px) {
		    font-size: 16px;
		}
	}
}

/* FOR HANDLE LAYOUTING WITH HAVE SIDEBAR */
.main-site-inner{ 
	position: relative;
	overflow: hidden;
	margin-bottom: -60px;
	background-color: white;
}
.main-sidebar{
	width: 25%;
	left: 0%;
	z-index: 333;
	position: absolute;
	height: 100%;
	// overflow-y: auto;
	// margin-left: -350px;
	padding: 60px 0px;
	background-color: $color-sidebar;
	border-right: 1px solid $color-line-content;
	float: left;
	min-height: 500px;
}
.main-content{
	width: 75%;
	margin-left: 25%;
}
.csf-container{
	width: 100%;
	max-width: 1170px;
	padding: 60px;
	margin-right: auto;
	margin-left: auto;
}

.nav-sidebar-content{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	// margin-bottom: 60px;
	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		li{
			display: block;
			> a{
				color: $color-text-gray;
				padding: 10px 60px;
				display: block;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					right: -1px;
					height: 100%;
					width: 1px;
					top: 0;
					background-color: transparent;
				}
			}
			&:hover,
			&:focus,
			&.active{
				> a{
					color: black;
					background-color: white;
					&:after{
						background-color: white;
					}
				}
				a{
					&:after{
						background-color: white;
					}
				}
				> ul{
					background-color: white;
				}
			}
			ul{
				text-transform: normal;
				font-weight: normal;
				li{
					&:last-child{
						>a{
							padding-bottom: 15px;
						}
					}
					>a{
						padding: 5px 50px 5px 90px;
					}
				}
			}
		}
	}
}

.header-content{
	margin-bottom: 30px;
	h2{
		margin: 0;
		font-size: 37px;
		font-weight: normal;
	}
	.meta-extra{
		font-size: 18px;
		margin-top: 5px;
		a{
			color: black;
			&:hover,
			&:focus{
				color: $color-blue-dark;
			}
		}
	}
}

.box-content{
	position: relative;
	p{
		font-size: 18px;
		line-height: 1.8;
	}
}

.img-left{
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.nav-content{
	margin-top: 60px;
	position: relative;
	.content-link{
		position: relative;
		color: black;
		padding: 5px 0;
		border-top: 1px solid black;
		&:hover,
		&:focus{
			border-top-color: $color-blue-dark;
			color: $color-blue-dark;
		}
	}	
	.content-prev{
		float: left;
		padding-right: 30px;
		i{
			margin-right: 8px;
		}
	}
	.content-next{
		float: right;
		padding-left: 30px;
		i{
			margin-left: 8px;
		}
	}
}