
.mission-wrapper{
	padding: 0 4%;
	position: relative;
	margin-bottom: 60px;
}

#customNav{
	// position: relative;
	.owl-prev,
	.owl-next{
		background-color: #e5e5e5;
		padding: 30px 10px;
		display: inline-block;
		border-radius: 3px;
		top: 20%;
		position: absolute;
		z-index: 33;
		cursor: pointer;
		transition: all .25s;
		@media (max-width: 480px) {
		    top: 35%;
		}
		i{
			color: #8d8d8d;
		}
		&:hover, &:focus{
			background-color: lighten( #e5e5e5, 2% );
		}
	}
	.owl-prev{
		left: -10px;
	}
	.owl-next{
		right: -10px;
	}
}

.mission-carousel{
	margin: 0 auto 0;
	.item{
		padding: 0 !important;
	}
	.item-box{
		background-color: $color-orange-light;
		overflow: hidden;
		display: block;
		position: relative;
		border-radius: 6px;
	}
	.item-img{
		img{
			border-radius: 6px;
			width: 100%;
		}
	}
	.item-desc{
		padding: 20px 0 30px;
		h3{
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 15px;
			text-transform: uppercase;
			// letter-spacing: 2px;
			a{
				color: black;
				&:hover, &:focus{
					color: $color-blue;
				}
			}
		}
		p{
			margin: 0;
		}
	}
}