.widget{
	margin-bottom: 30px;
	.title-widget{
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 14px;
		text-transform: uppercase;
		// letter-spacing: 3px;
		line-height: 1.2;
	}
	p{
		color: black;
		line-height: 1.6;
	}
	.text-info,
	.list-info{
		font-size: 11px;
		text-transform: uppercase;
	}
	.list-info{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		li{
			color: black;
			font-size: 12px;
			line-height: 1.6;
		}
	}
	&-subscribe{
		.form-subscribe{
			p:first-child{
				margin-bottom: 15px;
			}
		}
	}
	.list-touch{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			display: block;
			float: left;
			@media (max-width: 990px) {
			    float: none;
			}
			a{
				color: black;
				font-size: 10px;
				text-transform: uppercase;
				line-height: 35px;
				i{
					color: $color-icon;
					display: block;
					font-size: 18px;
					float: left;
					opacity: .65;
					transition: all 250ms ease;
					margin-right: 5px;
					width: 28px;
					position: relative;
					top: 7px;
					left: 5px;
				}
				span{
					opacity: .65;
					transition: all 250ms ease;
					float: left;
					margin-right: 5px;
				}
			}
			&:hover, &:focus{
				span, i{
					opacity: .35;
				}
			}
		}
	}
}
