/* ------------------------------------------------------------------------- *
 *  THIS IS MAIN (SASS) FILE
/* ------------------------------------------------------------------------- */ 
/*  IMPORT GOOGLE FONT-LATO
/* ------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900italic,900,700italic,400italic,300italic);
// Font variables
$lato: "Lato", sans-serif;
@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff2') format('woff2'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff2') format('woff2'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proximanova-semiBold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/*  VARIABLES
/* ------------------------------------ */
$color-orange: #e79322;
$color-blue: #0077c0;
$color-blue-light: #00aeef;
$color-blue-light-super: #89d2ff;
$color-blue-light-super-really: #1dbdff;
$color-green: #93c949;
$color-yellow: #fff200;


$color-top-header: #62717a;
$color-main-site: #f6f6f6;

$color-border: #e7e0d7;


@mixin img-embed(){
	position: relative;
	height: 0;
	overflow: hidden;
	background-color: #f3f3f3;

	img{
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
	}
}
$ratio-16-9 : 56.25%; /* 9/16*100 */
$ratio-4-3 	: 75%; /* 3/4*100 */
$ratio-1-1	: 100%; /* … */


/*  GENERAL'S
/* ------------------------------------ */
@import "general";

/* PRELOADER STYLING */
#preloader{
	z-index: 10001;
	background-color: white;
	width: 100%;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%; /* centers the loading animation horizontally one the screen */
	top: 50%; /* centers the loading animation vertically one screen */
	// background-image: url(image) /* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 200px;
	margin: -100px 0 0 -100px; /* is width and height divide by two */
	text-align: center;

	img{
		top: 50%;
		position: relative;
		margin-top: -50px;
	}
}

/*  LAYOUT'S
/* ------------------------------------ */
@import "layout/siteheader";
@import "layout/sitemain";
@import "layout/sitefooter";


/*  MODULE'S
/* ------------------------------------ */
@import "module/background";
@import "module/blockquote";
@import "module/button";
@import "module/combobox";
@import "module/csfcontainer";
@import "module/formfield";
@import "module/highlight";
@import "module/image";
@import "module/list";
@import "module/mask";
@import "module/navigation";
@import "module/navigationpage";
@import "module/navigationpagetwo";
@import "module/pagecontent";
@import "module/pagecontent";
@import "module/pageheader";
@import "module/pageinformation";
@import "module/placeholder";
@import "module/sectionbox";
@import "module/sectionheader";
@import "module/table";
@import "module/spacer";
@import "module/text";
@import "module/touchheader";
@import "module/logo";
@import "module/touchsocmed";
@import "module/panel";
@import "module/map";


// SECTION-FULLSLIDER
.section-fullslider{
	padding-bottom: 0;
}
.fullslider-carousel{
	margin-bottom: 0;
	border-top: 2px solid $color-green;
	border-bottom: 2px solid $color-green;
	// height: 70px;
	overflow: hidden;
	.item{
		position: relative;
		transition: all 350ms ease;
		&:hover,
		&:focus{
			cursor: pointer;
			.mask-fullslider{
				display: none;
			}
		}
		.mask-fullslider{
			display: block;
			transition: all 350ms ease;
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba( #754c24, .3 );
			top: 0;
			left: 0;
			z-index: 1;
		}
		img{
			display: block;
			position: relative;
		}
	}
}

/*  SECTION'S
/* ------------------------------------ */
@import "section/404";
@import "section/about";
@import "section/blog";
@import "section/familyresources";
@import "section/homepage";
@import "section/impact";
@import "section/information";
@import "section/news";
@import "section/tax";
@import "section/getinvolved";
@import "section/rwdsupport";
@import "section/banner";


// NEW BUTTON
.btn-green{
	background-color: #77bb1a;
	color: white;
	&:hover,
	&:focus{
		color: white;
		background-color: #333;
	}
}
.btn-fullwidth{
	width: 100%;
}


// SECTION LEARN-MORE
.section-learnmore{}
.item-learnmore{
	h5{
		margin-top: 0;
		font-size: 18px;
		line-height: 1.6;
	}
}
.list-check{
	margin: 0;
	padding: 0;
	list-style: none outside none;
	font-size: 16px !important;
	li{
		position: relative;
		padding-left: 30px;
		display: block;
		margin-bottom: 20px;
		&:before{
			position: absolute;
			content: "\f00c";
			font-family: "FontAwesome";
			color: $color-green;
			left: 0;
			top: 0;
			min-width: 15px;
		}
		p{
			position: relative;
		}
	}
}

.form-learnmore{
	position: relative;
	background: #fafafa;
	border: 1px solid $color-border;
	.header-form, 
	.content-form{
		padding: 30px 20px;
	}
	.header-form{
		background-color: $color-blue-light-super-really;
		text-align: center;
		h3, p{
			color: white;
		}
		h3{
			margin: 0 0 5px;
			font-size: 22px;
		}
		p{
			font-size: 16px;
			margin-bottom: 0;
		}
	}
	.field-box{
		margin-bottom: 15px;
		input{
			border: 1px solid #cccccc;
			padding: 1em;
		}
	}
	.btn-csf{
		border: none;
		padding: 1.1em 1em;
	}
}

// SECTION-QUOTE
.section-quote{}
.item-quote{
	blockquote{
		position: relative;
		padding: 0px;
	}
	p{
		position: relative;
		padding: 0 40px;
		margin-bottom: 20px;
		&:before,
		&:after{
			position: absolute;
			font-family: "FontAwesome";
			color: $color-blue;
			font-size: 21px;
		}
		&:before{
			content: "\f10d";
			top: 0;
			left: 0;
		}
		&:after{
			content: "\f10e";
			bottom: 0;
			right: 0;
		}
	}
	cite,
	.some-desc{
		margin-left: 45px;
	}
	cite{
		font-weight: bold;
		color: #333;
		margin-bottom: 5px;
		display: block;
		font-style: normal;
	}
	.some-desc{
		color: #666666;
		font-weight: bold;
		&:before{
			content: "";
		}
	}
}

// SECTION-PARTNERS
.section-partners{
	border-bottom: 1px solid $color-border;
}
.partners-carousel{
	.item{
		position: relative;
		z-index: 1;
	}
	img{}
	.owl-controls{
		position: absolute;
		left: 0;
		top: 20%;
		width: 100%;
	}
	.owl-prev,
	.owl-next{
		position: absolute;
		transition: opacity 250ms ease, transform 250ms ease;
		font-size: 12px;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		line-height: 38px;
		text-align: center;
		border: 1px solid #333;
		color: #333;
		background-color: white;
		&:hover,
		&:focus{
			opacity: .7;
		}
	}
	.owl-prev{
		left: -45px;
		@media ( max-width: 1200px) {
		    left: -15px;
		}
	}
	.owl-next{
		right: -45px;
		@media ( max-width: 1200px) {
		    right: -15px;
		}
	}
}
/*  WIDGET'S
/* ------------------------------------ */
@import "widget/widget";
@import "widget/widgetlogo";
@import "widget/widgetstayintouch";
@import "widget/widgetsubscribe";
@import "widget/widgetinfo";


.nobord-bottom{
	border-bottom: none;
}

.box-container{
	@media screen and (min-width: 38em){
		padding: 50px;
	}
}
/** DEMAND AND IMPACT
===================================*/
.box-rate{
	border: 1px solid #9c9c9c;
	padding: 25px;
	margin-top: 50px;
	&:before, &:after{
		 content: " ";
  		display: table;
	}
	&:after{
		clear: both;
	}

	p{
		font-size: 16px;
		line-height: 1.5em;
	}
}
.boxrate-title{
 	margin: 0;
 	font-size: 30px;
 	font-weight: 700;
 	text-transform: uppercase;
 	font-family: 'proximanova-bold';
 	text-align: center;
 	margin-top: -50px;
	margin-bottom: 60px;

 	span{
 		display: inline-block;
 		vertical-align: top;
 		padding: 9px 25px;
 		background-color: #00529e;
 		color: white;
 		box-shadow: 4px 4px 0px 0px #82c037;
 		-moz-box-shadow: 4px 4px 0px 0px #82c037;
 		-webkit-box-shadow: 4px 4px 0px 0px #82c037;
 	}
}

.boxrate-title-green{
	@extend .boxrate-title;
	span{
		background-color: #82c037;
 		color: white;
 		box-shadow: 4px 4px 0px 0px  #00529e;
 		-moz-box-shadow: 4px 4px 0px 0px  #00529e;
 		-webkit-box-shadow: 4px 4px 0px 0px  #00529e;
	}
}


.demand-list{
	text-align: left;
	li{
		display: inline-block;
		width: 100%;
		padding: 0 15px;
		text-align: center;
		vertical-align: top;
		margin-bottom: 50px;
		.content-text{
			line-height: 1.4em;
    		font-size: 16px;
			p{
			    line-height: 1.4em;
    			font-size: 16px;	
			}
		}
	}
	@media screen and (min-width: 48em){
		text-align: center;
		li{
			width: 49%;
		}
	}

	.rate-area{
		position: relative;
		margin: 0 auto 20px; 
		overflow: hidden;
		word-wrap: break-word;
		sup, sub{
			font-size: 40px;
		}
		sub{
			bottom: 0;
		}
		sup{
			top: 23px;
			vertical-align: top
		}
		h4{
			margin: 0;
			font-size: 50px;
			font-family: 'proximanova-semiBold';
			font-weight: normal;
			color: #82c037;
			line-height: 0.8em;
		}
	}
}

.demandlist-poverty{
	.rate-area{
		padding-bottom: 10px;
		max-width: 280px;
		h4{
		    font-size: 100px;
			position: absolute;
			bottom: 10px;
			right: 0;
			left: 0;
			margin: auto;
			text-shadow:-2px -1px 0 white;
		}
	}
}
.demandlist-lunch{
	.rate-area{
		padding-top: 20px;
		h4{
			float: left;
			font-size: 140px;
			@media screen and (min-width: 38em){
				margin-right: -35px;
				span{
					display: inline-block;
					min-width: 180px
				}
			}

		}
		figure{
			overflow: hidden;
			position: relative;
			top: -20px;
		}
	}
}
.demandlist-grad{
	.rate-area{
		max-width: 275px;
		position: relative;
		padding-top: 80px;
		h4{
			font-size: 100px;
			text-align: right;
		}
		figure{
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 150px;
		}
	}
}

.demandlist-app{
	.rate-area{
		max-width: 240px;
		h4{
			font-size: 70px;	
			line-height: 0.7em;
			small{
				font-size: 43px;
				color: #82c037;
				line-height: 1em;
			}
		}
		figure{
			max-width: 240px;
			overflow: hidden;
			margin-bottom: 15px;
		}
	}
}

/** IMPACT
===================================*/

.impact-row{
	overflow: hidden;
	margin-bottom: 35px;
}

.impactcircle-thumb{
	text-align: center;
	max-width: 280px;
	margin: 0 auto 25px;
	margin-bottom: 25px;
	@media screen and (min-width: 48em){
		float: left;
		margin: 0;
		margin-right: 35px;
	}
}

.impactcirle-desc{
		overflow: hidden;
	li{
		display: block;
		margin-bottom: 30px;
		h4{
			margin: 0;
			margin-bottom: 18px;
			font-size: 70px;
			font-family: 'proximanova-semiBold';
			font-weight: normal;
			color: #82c037;
			line-height: 0.8em;
			text-align: center;
			width: 150px;
			@media screen and (min-width: 38em){
				float: left;
				margin: 0;
				margin-right: 20px;
				text-align: left;
			}
		}

		.content-text{
			overflow: hidden;
		}
	}
}


.impact-maindesc{
	li{
		display: inline-block;
		width: 100%;
		padding: 0 15px;
		text-align: center;
		vertical-align: top;
		margin-bottom: 50px;
		.content-text{
			line-height: 1.4em;
    		font-size: 16px;
			p{
			    line-height: 1.4em;
    			font-size: 16px;	
			}
		}
	}
	@media screen and (min-width: 48em){
		text-align: center;
		li{
			width: 49%;
		}
	}
}

.impact-schoolar{
	text-align: center;
	header{
		margin-bottom: 20px;
		span{
			font-size: 37px;
			color: #82c037;
			&.text-btm{
				font-size: 47px;
			}
		}
		h4{
			font-size: 75px;
			color: #00529e;
			line-height: 0.8em;
			margin: 0
		}
	}
}

.impact-note{
	figure{
		max-width: 180px;
		overflow: hidden;
		margin: 0 auto 25px;
	}
}

