.site-header{
	width: 100%;
	position: relative;
}

.top-header{
	height: 38px;
	line-height: 38px;
	background-color: $color-top-header;
	border-bottom: 2px solid $color-border;
	p, a, i{
		line-height: 38px;
		height: 38px;
	}
	.text-information{
		color: white;
		margin: 0;
		text-align: center;
	}
	a{
		color: white;
		&:hover, &:focus{
			color: $color-blue-light;
		}
		i{
			position: relative;
			top: 1px;
			margin-left: 3px;
		}
	}

}

.main-header{
	margin: 20px 0;
}

.nav-header{
	width: 100%;
	background-color: #f7941d;
	border-bottom: 2px solid $color-green;
	.btn-show{
		display: none;
	}
}


.site-header-two{
	.top-header{
		background-color: #f0f0f0;
		border-bottom: none;
		.text-information{
			text-align: right;
			color: black;
		}
	}
	.nav-header{
		background-color: transparent;
		border-top: 1px solid $color-border;
	}
	.btn-show{
		color: $color-green;
	}
}
