.site-main{
	background-color: #F6F6F6;
	position: relative;
}

.site-main-inner{
	position: relative;
	overflow: hidden;
	background-color: white;
}

.site-nav-sidebar{
	z-index: 333;
	padding: 60px 0px;
	background-color: #F5F5F5;
	border-right: 1px solid #E5E5E5;
	position: relative;
// <<<<<<< HEAD
// =======
	z-index: 1;

	&:before{
		content: '';
		background-color: #f5f5f5;
		width: 300%;
		height: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;

	}
// >>>>>>> ff0a0a81280dd1833c962ca034a6978607aba24b
	@media (max-width:995px) {
		height: auto !important;
		padding: 30px 0;	    
	}
	@media (max-width: 570px) {
	    padding: 10px 0;
	}
}

.site-content{
	min-height: 700px;
	p{
		font-size: 18px;
		line-height: 1.8;
		@media (max-width: 767px) {
		    font-size: 15px !important;
		}
	}
}