.site-footer{
	position: relative;
	padding-top: 70px;
	.line-sep{
		margin: 0px 0px 30px;
		border-color: rgba(0, 0, 0, 0.2);
	}
}

.widget-touch{
	
}
.widget-subscribe{
	@media screen and (min-width: 75em){
		padding-right: 48px;
	  	padding-left: 48px;
  	}
}

.widget-logo{
	text-align: center;
	margin-bottom: 35px;
	border-bottom: 1px solid #cecece;
	padding-bottom: 35px;

	@media screen and (min-width: 75em){
		padding-right: 30px;
		text-align: left;
		margin-bottom: 0;
		padding-bottom: 0;
		border: 0;
	}
}
.copyright{
	float: left;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 30px;
	font-weight: bold;
	letter-spacing: 2px;
	@media (max-width: 570px) {
	    text-align: center;
	    float: none;
	}
	a{
		color: black;
		// font-weight: bold;
		&:hover, &:focus{
			color: $color-blue;
		}
	}
}

.site-footer-bottom{
	padding-bottom: 30px;
	.copyright{
		margin-bottom: 0;
		@media (max-width: 570px) {
		    margin-bottom: 30px;
		    text-align: left;
		}
	}
	.widget{
		margin-top: -10px;
		margin-bottom: 0;
		@media (max-width: 570px) {
		    margin-top: 0;
		    float: left !important;
		    // margin-left: 30px;
		}
	}
	.list-touch{
		li{
			float: left;
		}
	}
}