.widget-info{
	.text-info,
	.list-info{
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
		color: black;
// 		letter-spacing: 2px;
// 		line-height: 1.8;
		line-height: 1.9em;
		letter-spacing: 0.1em;
	}
	.list-info{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			line-height: 1.6;

			&:nth-child(2){
				margin-bottom: 10px;
			}
		}
	}
}