.widget-touch{
	@media screen and (min-width: 75em){
		float: right;
	}
	.list-touch{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			display: block;
			@media (max-width: 65em) {
				float: left;
			    margin-right: 13px;
			}
		}
		a{
			color: black;
			font-size: 10px;
			font-weight: bold;
			letter-spacing: 1px;
			text-transform: uppercase;
			line-height: 35px;
			display: block;
			margin-left: -5px;
			i{
				color: #5E6063;
				display: block;
				font-size: 18px;
				float: left;
				opacity: .65;
				transition: all 350ms ease;
				margin-right: 5px;
				width: 28px;
				position: relative;
				top: 7px;
				left: 5px;
			}
			&:hover,
			&:focus{
				i{
					opacity: .35;
				}
			}
		}
	}
	.ico-csf{
		background-image: url('../images/peoples/kompass.png');
	}
	.ico{
		background-repeat: no-repeat;
		background-size: 30px;
		text-align: center;
		height: 30px;
		width: 30px;
		display: block;
		position: relative;
		left: 1px !important;
		top: 3px !important;
		// top: 5px;
		// margin-left: 5px;
	}
}