.fourthzero-caption{
	position: relative;
	padding: 15.5% 0;
	@media (max-width: 767px) {
	    padding: 30% 0 40%;
	}
	@media (max-width: 570px) {
	    padding-top: 40%;
	}
}

.title-fourthzero{
	margin-top: 0;
	margin-bottom: 60px;
	font-size: 63px;
	font-weight: 900;
	color: white;
	@media (max-width: 767px) {
	    font-size: 46px;
	    margin-bottom: 20px;
	}
}
.text-fourthzero{
	font-size: 40px;
	color: white;
	@media (max-width: 767px) {
	    font-size: 21px;
	}
	a{
		color: white;
		border-bottom: 1px solid white;
		&:hover,
		&:focus{
			color: $color-blue;
			border-bottom-color: $color-blue;
		}
	}
}

.bg-404{
	.bg-orange{
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
	}
}