.box-boardstaff,
.box-staff{
	margin-bottom: 20px;
	.title-content-page{
		border-bottom: 2px solid #d6d6d6;
		padding-bottom: 10px;
		margin-top: 0;
	}
}

.item-boardstaff{
	margin-bottom: 20px;
	.title-board{
		font-size: 18px;
		margin: 0;
		@media (max-width: 767px) {
		    font-size: 15px;
		}
	}
	.subtitle-board{
		font-size: 18px;
		@media (max-width: 767px) {
		    font-size: 15px;
		}
	}
}

.item-staff{
	margin-top: 20px;
	text-align: center;
	_height: 338px;
	height: 338px\9;
	.inner-item-staff{
	}
	.img-staff{
		width: 100%;
		transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
	}
	.staff-desc{
		margin-top: 15px;
	}
	.title-staff{
		font-size: 16px;
		font-weight: normal;
		margin-bottom: 5px;
		color: black;
	}
	.subtitle-staff{
		font-size: 16px;
		margin-bottom: 0;
		color: black;
	}
	.title-staff, .subtitle-staff{
		transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
	}

	&:hover{
		.img-staff{
			box-shadow: 0px 0px 10px #cbcac9;
			-moz-box-shadow: 0px 0px 10px #cbcac9;
			-webkit-box-shadow: 0px 0px 10px #cbcac9;
		}
		.title-staff, .subtitle-staff{
			color: #e89824;
		}
	}
}

.item-about-news{
	margin-bottom: 40px;
	.header-about-news{
		.title-about-news{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.meta-about-news{
		font-size: 14px;
		text-transform: uppercase;
		@media (max-width: 767px) {
		    font-size: 12px !important;
		}
	}
	.title-about-news{
		a{
			color: black;
			&:hover,
			&:focus{
				color: $color-blue;
			}
		}
	}
	.btn-csf{
		margin-top: 10px;
	}
}

.box-press-release{
	@media (max-width: 767px) {
	    margin-top: 30px;
	}
	.item-pr{
		a{
			color: black;
			&:hover,
			&:focus{
				color: $color-blue;
			}
		}
		span{
			font-size: 14px;
			text-transform: uppercase;
		}
	}
}