.section-banner{
	position: relative;
	padding-top: 0 !important;
	.subsection-banner{
		position: relative;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		// min-width: 300px;
		padding-top: 350px;
	}
}

.subsection-banner{
	.group-info-banner{
		position: relative;
		bottom: 0;
		z-index: 1;
		overflow: hidden;
	}
	.banner-img{
		width: 100%;
		position: relative;
	}
}

.group-info-banner{
	// border-top: 3px solid black;
	// background-color: rgba( red, .3 );
	padding-top: 60px;
}

.item-banner{
	text-align: center;
	position: relative;
	background-color: rgba( black, .7 );
	border-top: 3px solid black;
	margin-bottom: -30px;
	@media (max-width: 570px) {
	    width: 100% !important;
	    margin-bottom: 0;
	    border-top: 1px solid rgba( white, .3 );
	    overflow: hidden;
	}
	&.nopadd{
		padding-left: 0;
		padding-right: 0;
	}
	&.left-bg{
		&:before,
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		&:before{
			height: 3px;
			background-color: black;
			left: -100.1%;
			top: -3px;
		}
		&:after{
			height: 100%;
			background-color: rgba( black, .7 );
			left: -100.1%;
			top: 0;
		}
	}
	&.right-bg{
		&:before,
		&:after{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
		}
		&:before{
			height: 3px;
			background-color: black;
			right: -100.3%;
			top: -3px;
		}
		&:after{
			height: 100%;
			background-color: rgba( black, .7 );
			right: -100.3%;
			top: 0;
		}
	}
	&.bord-left{
		border-left: 1px solid rgba( white, .3 );
		@media (max-width: 570px) {
		    border-left: 0;
		}
	}
	&.bord-right{
		border-right: 1px solid rgba( white, .3 );
		@media (max-width: 570px) {
		    border-right: 0;
		}
	}
	.title-info{
		margin: 0;
		font-size: 27px;
		font-family: "Lato", sans-serif;
		color: white;
		text-transform: capitalize;
		font-weight: normal;
		padding: 30px 15px;
		z-index: 3;
		position: relative;
		transition: all 550ms ease;
		@media (max-width: 995px) {
		    font-size: 24px;
		}
	}
	.subtitle-info{
		// font-size: 0;
		// line-height: 0;
		// color: transparent;
		transition: all 450ms ease;
		position: relative;
		z-index: 3;
		margin: 0;
		color: white;
		// height: 0;
		transform: translateY(100px);
	}
}

.subitem-banner{
	padding: 15px; 
	display: block;
	position: relative;
	&:hover,
	&:focus{
		
		&:before{
			top: -60px;
		}
		&:after{
			top: -57px;
		}
		.title-info,
		.subtitle-info{
			transform: translateY(-60px);
		}
		.subtitle-info{
			// font-size: 14px;
			// line-height: 1.6;
			// color: white;
		}
		@media (max-width: 570px) {
		    .title-info{
		    	transform: translateY( -100px );
		    }
		    .subtitle-info{
		    	// transform: translateY( -75px );
		    }
		}
	}
	&:before,
	&:after{
		@media (max-width: 570px) {
		    // display: none;
		}
		display: block;
		content: "";
		position: absolute;
		width: 100%; 
		left: 0;
		z-index: 1;
		transition: all 350ms ease-out;
	}
	&:before{
		height: 3px;
		background-color: #009eff;
		top: 100%;
		// top: -60px;
	}
	&:after{
		height: 300px;
		background-color: $color-blue;
		top: 100%;
		// top: -57px;
	}
	&:hover,
	&:focus{
	}
}