.item-blog{
	margin-bottom: 20px;
	@media (max-width: 570px) {
	    padding-bottom: 20px;
	    text-align: center;
	}
	.img-item-blog{
		float: left;
		margin-top: 20px;
		margin-right: 20px;
		@media (max-width: 570px) {
		    margin: 0;
		    float: none;
			img{
				width: 100%;
			}
		}	
	}
	.header-blog{
		margin-top: 40px;
		padding-right: 20px;
		@media (max-width: 570px) {
		    margin-top: 20px;
		    padding: 0 10px;
		    text-align: center;
		}
	}
}

.header-blog{
	.title-blog{
		font-size: 26px;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 20px;
		line-height: 1.4;
	}
}

