.item-family{
	margin-bottom: 30px;
	@media (max-width: 480px) {
	    width: 100% !important;
	}
	.inner-item-family{
		text-align: center;
		background-color: white;
		display: block;
		min-height: 200px;
		padding: 20px;
		position: relative;

		&:hover, 
		&:focus{
			box-shadow: inset 0 0 0 3px $color-green;
			.title-family{
				color: $color-blue;
			}
			.img-family-hover{
				display: block;
			}
			.img-family{
				opacity: 0;
				// @media ( max-width: 990px) {
			 //    	opacity: 0;
				// }
			}
		}
	}
	.title-family{
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		line-height: 1.4;
	}
	.img-family-content{
		position: relative;
		text-align: center;
		.img-family{
			transition: opacity 200ms ease;
			position: relative;
			
		}
		.img-family-hover{
			transition: all 350ms ease;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -55px;
			display: none;
		}
	}
}