.item-campaign{
	margin-bottom: 40px;
	.title-campaign{
		margin-bottom: 20px;
	}
	p{
		line-height: 1.4;
	}
}

.involved-img{
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/get-involved/giveback.jpg");
	padding: 8% 9%;
	text-align: center;
	.involved-caption{
		h3{
			margin-top: 0;
			margin-bottom: 40px;
			font-size: 26px;
			color: white;
			text-transform: uppercase;
		}
		p{
			color: white;
			line-height: 1.8;
			font-size: 23px;
		}
	}
}
