.homepage{
	position: relative;
	padding-top: 50px;
}

.csf-carousel{
	.item-bg{
		position: relative;
		background-repeat: no-repeat;
		width: 100%;
		background-color: rgba( black, .25 );
		@media (max-width: 995px) {
			background-color: transparent;
		}
	}
	.item{
		text-align: center;
		padding: 100px 0px 130px;
		@media (max-width: 995px){
			padding: 10% 0 12%;
		}
	}
	.text-big{
		color: white;
		font-size: 38px;
		margin-top: 0;
		margin-bottom: 30px;
		font-weight: 300;
		@media (max-width: 570px) {
		    font-size: 26px;
		}
	}
	p{
		color: white;
		line-height: 1.8;
		margin-top: 0;
		margin-bottom: 30px;
		font-weight: 300;
		font-size: 18px;
		@media (max-width: 570px) {
		    font-size: 14px;
		}
	}
	.item-caption{
		max-width: 725px;
		margin: 0 auto;
		@media (max-width: 995px) {
		    margin: 0 10%;
		}
	}
}

.item-bg-1{
	background-image: url("../images/intro/1.jpg");
}

.item-bg-2{
	background-image: url("../images/intro/2.jpg");
}

.item-bg-3{
	background-image: url("../images/intro/3.jpg");
}    
