.site-impact-img{
	img{
		width: 100%;
	}
}

.item-impact{
	margin-bottom: 30px;
	@media (max-width: 570px) {
	    text-align: center;
	}
	.inner-item-impact{
	    background-color: #FFF;
	    position: relative;
	    border-radius: 6px;
	    @media (min-width: 768px) and (max-width: 1200px) {
	    	text-align: center;
	    }
	    @media (max-width: 570px) {
	        // padding-bottom: 20px;
	    }
	}
	.img-impact{ 
		float: left;
		margin-right: 20px;
		@media (min-width: 768px) and (max-width: 1200px) {
		    width: 100%;
		    margin-right: 0;
		    margin-bottom: 40px;
		    text-align: center;
		    img{
		    	// width: 100%;
		    	display: inline-block;
		    	margin-top: 10px;
		    }
		}
		@media (max-width: 570px) {
		    width: 100%;
		    margin-right: 0;
		    margin-bottom: 40px;
		    text-align: center;
		    img{
		    	display: inline-block;
		    	margin-top: 10px;
		    	// width: 100%;
		    }
		}
	}
	.title-impact{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 20px;
		font-size: 21px;
		letter-spacing: 2px;
		text-transform: uppercase;
		@media (min-width: 768px) and (max-width: 1200px) {
			margin: 0 20px 0;
		}
		@media (max-width: 570px) {
		    margin: 0 20px 0;
		}
	}
	.content-impact{
		margin-right: 20px;
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 1.6;
		@media (min-width: 768px) and (max-width: 1200px) {
			margin: 20px 0;
		}
		@media (max-width: 570px) {
		 	margin: 20px 30px 20px;   
		}
	}
	.btn-csf{
		position: absolute;
		bottom: 30px;
		@media (min-width: 768px) and (max-width: 1200px) {
			position: relative;
			bottom: 0;
			margin-bottom: 30px;
		}
		@media (max-width: 570px) {
			position: relative;
			bottom: 0;
			margin-bottom: 30px;
		}
	}
}