.section-information{
	background-color: #fbfbfb;
	// margin-top: 60px;
	padding: 60px 0;
	border-top: 1px solid #d7ecbb;
	position: relative;
	box-shadow: 0px -30px 20px -15px rgba(0, 0, 0, 0.1) inset;
	z-index: 333;
	&.section-information-two{
		border-top: none;
		box-shadow: none;
		background-color: transparent;
		padding: 0;
	}
	.text-information{
		color: #000;
		font-size: 21px;
		text-align: right;
		float: right;
		max-width: 600px;
		margin-right: 30px;
		@media (max-width:995px) {
			float: none;
			text-align: center;
			margin-right: 0;
			margin-bottom: 30px;
			max-width: inherit;
		}
		@media (max-width: 767px) {
		    font-size: 16px;
		    margin-bottom: 0;
		}
	}
	.btn-csf{
		margin-top: 20px;
		&:first-child{
			margin-right: 10px;
		}
	}
}