.item-news{
	position: relative;
	margin-bottom: 20px;
	.header-news{

	}
	.meta-news{
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	.title-news{
		margin-top: 0;
		font-size: 18px;
		line-height: 1.4;
		a{
			color: black;
			&:hover,
			&:focus{
				color: $color-blue;
			}
		}
	}
}