.btn-show{
	padding: 8px 18px;
	text-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	@media (max-width:995px){
		display: block !important;		
	}
	i{
		margin-right: 5px;
	}
}

.active-nav {
  left: 0 !important;
}

.nav-sidebar {
  left: -40%;
  width: 40%;
  text-align: left;
  z-index: 999;
  position: fixed;
  height: 100%;
  transition: all 0.5s ease;
  padding: 20px 0 40px;
  display: block;
  background: #f7941d;
}
@media (max-width: 480px) {
  .nav-sidebar {
    left: -60%;
    width: 60%;
  }
}
.nav-sidebar ul {
  position: relative;
  z-index: 999;
  margin: 0;
  list-style: none outside none;
  padding: 0;
}
.nav-sidebar li a {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  padding: 8px 15px;
  display: block;
  font-size: 13px;
}
.nav-sidebar li:hover a, .nav-sidebar li:focus a {
  background-color: #d97a08;
}


.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper .wrapper-inner {
  float: right;
  transition: all .5s ease;
  position: relative;
  width: 100%;
  display: block;
}
.wrapper .on-active {
  margin-right: -40%;
}
@media (max-width: 480px) {
  .wrapper .on-active {
    margin-right: -60%;
  }
}
.wrapper .on-active .mask-rwd {
  opacity: 1;
  visibility: visible;
}

.mask-rwd {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.35);
  z-index: 33;
  opacity: 0;
  visibility: hidden;
  transition: all 350ms ease-out;
}

.btn-hide {
  display: block;
  padding: 8px 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: #8dc63f;
  cursor: pointer;
}
.btn-hide i {
  font-size: 18px;
}
.btn-hide:hover, .btn-hide:focus {
  color: white;
  background: #72a230;
}
