.tax-carousel{
	.item{
		padding: 0 !important;
	}
	.inner-item-tax{
		background-color: #e7e0d7;
		overflow: hidden;
		display: block;
		position: relative;
		border-radius: 6px;
		&:hover,
		&:focus{
			background-color: darken( #e7e0d7, 5% );
		}
	}
	.item-box{
		transition: all 250ms ease;
		background-color: #e7e0d7;
		overflow: hidden;
		display: block;
		position: relative;
		border-radius: 6px;
	}
	img{
		margin: 0;
		width: 100%;
		border-radius: 6px;
	}
	.tax-content{
		padding: 20px 8px 30px;
		text-align: center;
	}
	.tax-title{
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: .1em;
		line-height: 1.3em;
		color: black;
	}
	.tax-subtitle{
		color: black;
	}

}

//Bugs Fix
.section-crousel{
	padding-bottom: 50px;
	border-bottom: 1px solid #dddddd;
}
.tax-nav{
	.owl-prev,
	.owl-next{
		background-color: #e5e5e5;
		padding: 30px 10px;
		display: inline-block;
		border-radius: 3px;
		top: 25%;
		position: absolute;
		z-index: 33;
		cursor: pointer;
		transition: all .25s;
		@media (max-width: 880px) {
			top: 30%;
		}
	}
	.owl-prev{
		left: -8%;
		@media (max-width: 880px) {
		    left: 4%;
		}
	}
	.owl-next{
		right: -8%;
		@media (max-width: 880px) {
		    right: 4%;
		}
	}
}


//BUGS FIX
.section-htax{
	margin-top: 50px;
	background-color: #0077c0;

	@media screen and (min-width: 1200px){
		.container{
			width: 100%;
			max-width: 1358px;
			padding-right: 0;
		}
	}
}
.htax-thumb{
	text-align: center;
	@media screen and (min-width: 70em){
		text-align: left;
	}
}

.item-tax-credit-big{
	padding: 10% 6% 10% 54px;

	@media (max-width: 570px) {
	    height: auto !important;
	}
}


.item-tax-credit{
	text-align: center;
	margin-bottom: 30px;
	.icon-img{
		margin-bottom: 20px;
	}
	.title-tax-credit{
		text-transform: uppercase;
		font-size: 21px;
		margin-top: 0;
		letter-spacing: 1px;
		line-height: 1.4;
		margin-bottom: 20px;
		a{
			color: black;
		}
	}

	.tax-cd-box{
			padding: 20px 15px;
			transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;

			&:hover{
				-moz-box-shadow: 0 0 5px #888;
				-webkit-box-shadow: 0 0 5px#888;
				box-shadow: 0 0 5px #888;
			}
	}
}

.item-tax-credit-two{
	text-align: center;
	margin-bottom: 30px;
	.icon-img{
		margin-bottom: 20px;
		background-color: white;
		border-radius: 50%;
		height: 100px;
		width: 100px;
		line-height: 100px;
		text-align: center;
		margin: 0 auto 20px;
		img{
			display: inline-block;
		}
	}
	.title-tax-credit{
		text-transform: uppercase;
		font-size: 18px;
		margin-top: 0;
		letter-spacing: 2px;
		line-height: 1.4;
		margin-bottom: 20px;
		a{
			color: black;
			&:hover,
			&:focus{
				color: $color-blue;
			}
		}
	}	
	.text-tax-credit{
		font-size: 18px;
		line-height: 1.6;
	}
}

.box-participate{
	position: relative;
	overflow: hidden;
	// padding: 20px;
}
.item-participate{
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	@media (max-width: 800px) {
	    padding: 20px 10px;
	}
	.step{
		position: relative;
		display: inline-block;
		color: rgba( white, .3 );
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		&:before{
			content: "";
			position: absolute;
			right: 140%;
			top: 50%;
			width: 280%;
			height: 2px;
			background-color: rgba( white, .3 );
			@media (max-width:800px) {
			    width: 200%;
			}
			@media (max-width: 570px) {
			    width: 0;
			}
		}
	}
	.stage{
		color: $color-yellow;
		display: block;
		font-size: 68px;
		font-weight: 300;
		margin-top: -20px;
	}
	.title-participate{
		color: white;
		line-height: 1.6;
		font-weight: 400;
		max-width: 180px;
		margin: 0 auto;
	}
	.text-link-border{
		color: white;
		border-bottom-color: white;
		&:hover,
		&:focus{
			color: rgba( white, .3 );
			border-bottom-color: rgba( white, .3 );
		}
	}
}

.box-ostc-dollars{
	background-color: #e1eef6;
	// overflow: hidden;
	.border-right{
		// border-right: 1px solid rgba( $color-blue, .3 );
		position: relative;
		@media (max-width:979px) {
		    
		}
		&:before{
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: 1px;
			background-color: black;
		}
	}
}
.item-tax-dollars{
	padding: 20px 40px !important;
	position: relative;
	p{
		@media (max-width: 570px) {
		    text-align: left !important;
		}
	}
	.img-left{
		margin-bottom: 0;
		@media (max-width: 570px) {
		    float: none;
		    text-align: center;
		    display: block;
		    margin-right: 0;
		}
		img{
			float: left;
			margin-right: 20px;
			margin-bottom: 20px;
			@media (max-width: 570px) {
			    float: none;
			    margin-right: 0;
			}
		}
	}
}

.item-tax-about-two{
	.title-tax-about{
		margin-top: 0;
		font-size: 21px;
		margin-bottom: 20px;
	}
	p{
		font-size: 18px;
		line-height: 1.8;
	}
}

.item-tax-about-detail{
	border-top: 5px solid $color-green;
	border-left: 1px solid $color-green;
	border-bottom: 1px solid $color-green;
	padding: 40px;
	padding-right: 0;
	position: relative;
	&:before,
	&:after{
		background-color: $color-green;
		position: absolute;
		content: "";
		left: 100%;
		width: 100%;
	}
	&:before{
		top: -5px;
		height: 5px;
	}
	&:after{
		bottom: -1px;
		height: 1px;
	}
	.title-tax-about-detail{
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: normal;
	}

}

.box-tax-pay{
	font-size: 18px;
	>strong{
		display: block;
	}
}

.pay-choose{
	overflow: hidden;
	margin-bottom: 0;
	position: relative;
	display: table;
	width: 100%;
	  margin-top: 25px;

	.pay-box, .or{
		display: table-cell;
		vertical-align: middle;
	}

	.or{
		position: relative;
		min-height: 130px;
		padding: 0 23px;

		&:before{
			position: absolute;
			z-index: 0;
			content: "";
			height: 100%;
			border-left: 1px solid darken( #f5f5f5, 40% );
			border-right: 1px solid darken( #f5f5f5, 40% );
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			@media ( max-width: 1285px) {
				width: 0;
			}
		}
	}
	strong{
		text-transform: uppercase;
		color: darken( #f5f5f5, 40% );
		position: relative;
		padding: 10px 20px;
		font-size: 14px;
		font-weight: bold;
		background: white;
		padding: 10px 15px;
		z-index: 1;

		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		*zoom: 1;
		*display: inline;
		z-index: 1;
		
	}
	.pay-box{
		img{
			
		}
	}
}

.tax-info-two{
	margin-top: 40px;
	position: relative;
	padding: 20px 40px 40px;
	@media (max-width: 570px) {
	    margin-top: 0;
	}
	@media (max-width: 480px) {
	    padding: 20px;

	}
	.img-tax-info{
		position: relative;
		top: -60px;
		right: -40px;
		float: right;
		@media (max-width: 480px) {
		    display: none;
		}
	}
	.title-info{
		width: 50%;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 1.8;
		margin-bottom: 20px;
		font-size: 24px;
		@media (max-width: 480px) {
		    font-size: 18px;
		    letter-spacing: 1px;
		}
	}
}

.tax-info-three{
	padding: 10px;
	.img-tax-info{
		float: right;
		display: inline-block;
	}
	.title-info{
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 1.8;
		margin: 40px;
		font-size: 27px;
		@media (max-width: 480px) {
		    font-size: 18px;
		    letter-spacing: 1px;
		}
	}
}

.section-tax-facts{
	padding-bottom: 50px;
	background-color: #F6F6F6;
}

.item-tax-2{
	position: relative;
	margin-bottom: 30px;
	.subitem-tax-2{
		background-color: #e7e0d7;
		overflow: hidden;
		display: block;
		position: relative;
		border-radius: 6px;
		img{
			display: block;
			width: 100%;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}
	.tax-content{
		padding: 20px 8px 30px;
		text-align: center;
	}
	.tax-title{
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: .1em;
		line-height: 1.3em;
		color: black;
	}
	.tax-subtitle{
		color: black;
	}
}

.quote-container{
	/*background: url('../images/credits/thumb.jpg') top center no-repeat;
	background-size: cover;	
	-moz-background-size: cover;	
	-webkit-background-size: cover;	*/
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 60px;

	@media screen and (min-width: 48em){
		min-height: 400px;
	}
}
.quote-thumb
{
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: #0273b8;
}

.quote-caption{
	background: #0273b8;
	color:  white;
	font-style: italic;
	font-size: 18px;
	padding: 15px 28px;

	@media screen and (min-width: 70em){
		position: absolute;
		right: 0;
		top : 0;
		width: 50%;
		max-width: 350px;
		font-size: 21px;
	}

	&:before{
		content: '';
		position: absolute;
		left: -70px;
		top: 0;
		width: 70px;
		height: 60px;
		background: #0273b8 url('../images/credits/quotes.png') center center no-repeat;
		background-size: 45px auto; 
	}

	.name{
		font-weight: 700;
		display: block;
		font-style: normal;
		margin: 20px 0 9px;
	}

	.info{
		font-size: 0.8em;
	}
}