.bg-yellow-light{
	background-color: #f6f7c9;
}

.bg-green{
	background-color: #8dc63f; 
	&.blockquote-left{
		color: white !important;
	}
}

.bg-white{
	background-color: white;
}
.bg-blue{
	background-color: #0077c0;
}
.bg-blue-dark{
	background-color: #30617d;
}
.bg-orange{
	background-color: $color-orange;
}
.bg-gray{
	background-color: #f5f5f5;
}
.bg-blue-telor-asin{
	background-color: #62717a;
}
.bg-blue-dark{
	background-color: #1b577a;
}

.helper-bg{
	position: absolute;
	background-color: white;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 100%;
}