blockquote{
	border-left: none;
}

.blockquote-center{
	text-align: center;
	color: $color-green;
	i{
		font-size: 48px;
		margin-bottom: 10px;
	}
	p{
		font-size: 29px;
		font-style: italic;
	}
}

.blockquote-left{
	text-align: left;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	i{
		position: absolute;
		font-size: 26px;
		height: 52px;
		width: 52px;
		line-height: 52px;
		text-align: center;
		background-color: lighten( $color-green, 15% );
		display: inline-block;
		left: 0;
		top: 0;
	}
	p, cite{
		margin-left: 60px;
	}
	p{
		font-size: 22px;
	}
	cite{
		font-size: 18px;
		font-style: normal;
	}
}
