.btn-csf{
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 300ms ease;
	padding: 10px 16px;
	&:hover,
	&:focus,
	&.active{
		outline: transparent;
	}
}

.btn-blue{
	background-color: $color-blue;
	color: white;
	&:hover,
	&:focus,
	&.active{
		color: white;
		background-color: lighten( $color-blue, 15% );
	}
}

.btn-black{
	background-color: black;
	color: white;
	&:hover,
	&:focus{
		color: white;
		background-color: $color-blue;
	}
}

.btn-orange{
	background: $color-orange;
	color: white;
	&:hover,
	&:focus{
		color: white;
		background-color: lighten( $color-orange, 8% );
	}
}

.btn-line{
	border: 2px solid transparent;
	padding: 10px 30px; 
}

.btn-line-white{
	border-color: white;
	color: white;
	&:hover,
	&:focus,
	&.active{
		color: white;
		opacity: .85;
	}
}

.btn-line-blue{
	border-color: $color-blue;
	color: $color-blue;
	&:hover,
	&:focus,
	&.active{
		opacity: .85;
		color: $color-blue;
	}
}

.btn-divide-blue{
	background-color: $color-blue;
	position: relative;
	color: white;
	text-align: left;
	padding: 10px 62px 10px 18px;
	overflow: hidden;
	i{
		font-weight: bold;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background-color: lighten( $color-blue, 15% );
		display: block;
		padding: 10px 18px;
		line-height: 20px;
	}
	&:hover,
	&:focus,
	&.active{
		color: white;
		opacity: .85;
	}
}

.btn-radius{
	border-radius: 4px;
}

.btn-s{
	padding: .3em .7em;
	font-size: 13px;
	@media (max-width: 767px) {
	    font-size: 10px;
	}
}

.btn-m{

}

.btn-l{
	font-size: 20px;
	font-weight: normal;
	padding: 10px 30px;
	@media (max-width: 995px) {
		font-size: 14px;
	}
}

.btn-ll{
	font-size: 17px;
	font-weight: normal;
	padding: 15px 30px;
	@media (max-width: 995px) {
		font-size: 14px;
	}	
}

.btn-full-width{
	width: 100%;
}
