.btn-combo{
	border: 1px solid #a9a9a9;
	text-transform: uppercase;
	position: relative;
	color: black;
	text-align: left;
	padding: 10px 90px 10px 18px;
	overflow: hidden;
	display: block;
	min-width: 160px;
	@media (max-width: 767px) {
	    padding: 5px 60px 5px 12px;
	}
	i{
		font-weight: bold;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background-color: transparent;
		display: block;
		padding: 5px 12px;
		border-left: 1px solid #a9a9a9;
	}
	&:hover,
	&:focus{
		opacity: .8;
		color: black;
	}
}

.menu-years{
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	> li > a{
		padding: 8px 20px;
	}
}