.csf-container{
	width: 100%;
	max-width: 1170px;
	padding: 60px;
	margin-right: auto;
	margin-left: auto;
}

.container-oto{
	position: relative;
	height: 100%;
	@media (max-width: 995px) {
	    height: 100% !important;
	}
}

.widget-container{
	padding-bottom: 50px;
}