.img-full-width{
	img{
		width: 100%;
	}
}
.img-left{
	text-align: left;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.img-link{
	img{
		transition: all 350ms ease;
		display: block;
	}
	&:hover,
	&:focus{
		img{
			opacity: .85;
		}
	}
}

.img-inline{
	text-align: center;
	margin-bottom: 20px;
	img{
		display: inline-block;
	}
	.title-img-inline{
		display: block;
		margin-bottom: 0;
		margin-top: 10px;
		text-align: center;
		position: relative;
		margin-left: -20px;
	}
}

.img-caption-floating{
	position: relative;
	margin-bottom: 220px;
	@media (max-width:995px) {
	    margin-bottom: 180px;
	}
	@media (max-width: 767px) {
		margin-top: 20px;
	    margin-bottom: 30px;
	}
	img{
		width: 100%;
		position: relative;
	}
	blockquote{
		width: 90%;
		position: absolute;
		bottom: -40%;
		z-index: 33;
		@media (max-width: 767px) {
		    width: 100%;
		    position: relative;
		    bottom: 0;
		}
	}
}