.list-download{
	list-style: none outside none;
	padding: 0;
	margin: 0;
	li{
		display: block;
		a{
			position: relative;
			display: block;
			padding: 2px 40px 15px;
			// margin-left: 20px;
			margin-bottom: 10px;
			color: black;
			font-size: 18px;
			@media (max-width: 767px) {
			    font-size: 15px;
			}
			// font-weight: bold;
			border-bottom: 1px solid rgba( black, .1 );
			&:before{
				position: absolute;
				content: "\f016";
				font-family: "FontAwesome";
				color: white !important;
				height: 28px;
				width: 28px;
				line-height: 28px;
				text-align: center;
				color: white;
				border-radius: 50%;
				background-color: $color-blue;
				display: inline-block;
				left: 0px;
				top: 0px;
				font-size: 14px;
				@media (max-width: 767px) {
				    font-size: 12px;
				    top: 3px;
				}
			}
		}
		&:last-child{
			a{
				border-bottom: none;
			}
		}
		&:hover,
		&:focus{
			a{
				color: $color-blue;
				// border-bottom-color: rgba( $color-blue, .7);
			}
		}
	}
}
.list-circle{
	padding-left: 20px;
	p{
		margin-left: 0px;
	}
}

.list-csf-link{
	list-style: none outside none;
	padding: 0;
	margin: 0;
	li{
		float: left;
		display: block;
		width: 33.33%;
		padding-right: 40px;
		@media (max-width: 570px) {
		    width: 100%;
		    margin-bottom: 30px;
		    padding-right: 0;
		}
		&:last-child{
			padding-right: 0;
		}
		a{
			display: block;
			border: 1px solid white;
			padding: 10px 30px;
			min-height: 100px;
			font-size: 18px;
			text-transform: uppercase;
			color: white;
			letter-spacing: 1px;
			font-weight: 600;
			position: relative;
			&:after{
				content: "\f054";
				position: absolute;
				font-family: "FontAwesome";
				color: white;
				font-size: 21px;
				right: 20px;
				top: 10px;
				opacity: 0;
				transition: all 250ms ease;
			}
			&:hover,
			&:focus{
				background-color: $color-blue;
				&:after{
					opacity: 1;
				}
			}
		}
	}
}