.logo-holder{
	float: left;
	width: 478px\9;
	_width: 478px;
	@media (max-width:995px){
	    float: none;
	    text-align: center;
	}
	a{
		display: inline-block;
		display: block\9;
		@media (max-width: 480px) {
		    img{
		    	width: 100%;
		    }
		}
	}
}

.logo-top{
	float: right;
	position: relative;
	top: 0;
	right: 0;
	background-color: white;
	padding: 20px;
	z-index: 1;
	_width: 518px;
	width: 518px\9;
}

.logo-holder-center{
	text-align: center;
	position: relative;
	margin: 15px 0;
	a{
		display: inline-block;
		margin: 0 auto;
		@media (max-width: 480px) {
		    img{
		    	width: 100%;
		    }
		}
	}
}