.map-container{
	position: relative;
	width: 100%;
	height: 430px;
	background-color: #F0F0F0;
	border: 2px solid #ABD571;
	margin-bottom: 70px;
	overflow: hidden;
	margin-top: 50px;
}

.map-info{
	position: absolute;
	right: -2px;
	top: -2px;
	z-index: 33;
	background-color: #0077C0;
	background-color: rgba(0, 119, 192, 0.85);
	color: #FFF;
	padding: 30px 30px 50px;
	h4{
		margin-top: 0px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.5);
		@media (max-width: 767px) {
		    font-size: 12px;
		}
	}
	.text-map{
		font-size: 18px;
		margin-bottom: 30px;
		text-transform: uppercase;
		@media (max-width: 767px) {
		    font-size: 15px;
		}
	}
}

#map{
	position: absolute;
	width: 100%;
	height: 430px;
}