.navigation-page-two{
	position: absolute;
	width: 100%;
	top: 50%;
	@media (max-width: 570px) {
	    top: 52%;
	    z-index: 333;
	}
	.prev, .next{
		text-transform: uppercase;
		color: black;
		font-size: 15px;
		padding: 12px 14px;
		background-color:  #f8f7ec;
		position: absolute;
		&:hover, &:focus{
			background-color: darken( #f8f7ec, 10% );
		}
		i{
			position: relative;
			top: -1px;
		}
	}
	.prev{
		left: 0;
	}
	.next{
		right: 0;
	}
}