.navigation-page{
	position: relative;
	margin-top: 40px;
	font-size: 16px !important;
	a{
		display: inline-block;
		border-top: 1px solid black;
		padding: 5px;
		color: black;
		font-weight: bold;
		&:hover,
		&:focus{
			color: $color-blue;
		}
	}
	.prev{
		float: left;
		padding-right: 20px;
	}
	.next{
		float: right;
		padding-left: 20px;
	}
}