.navigation-main{
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	@media (max-width:1200px){
		font-size: 15px;
	}
	@media (max-width:995px){
		display: none;
	}
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			position: relative;
			display: inline-block;
			@media (min-width:1200px){
				float: left;
			}
			> a{
				display: block;
				color: white;
				font-weight: normal;
				padding: 12px 27px;
				padding: 12px 25px\9;
				position: relative;
				letter-spacing: 1px;
				@media (max-width:1200px){
					padding: 8px 15px;
					font-size: 0.9em;
				}
				@media (max-width:995px){
					
				}
				&:before{
					content: "";
					position: absolute;
					height: 100%;
					top: 0;
					left: 0;
					width: 1px;
					background-color: rgba( white, .25 );
				}
			}
			&:first-child{
				@media (min-width:1200px){
					margin-left: 0;
				}
			}
			&:last-child{
				>a{
					&:after{
						content:"";
						position: absolute;
						height: 100%;
						top: 0;
						left: 100%;
						width: 1px;
						background-color: rgba( white, .25 );
					}
				}
			}
			>ul{
				display: none;
				position: absolute;
				top: 102%;
				min-width: 260px;
				border: 1px solid $color-green;
				background-color: #eef8e1;
				font-size: 13px;
				text-align: left;
				z-index: 999;
				@media (max-width:995px){
					font-size: 11px;
				}
				li{
					display: block;
					margin-left: 0;
					float: none; 
					>a{
						display: block;
						color: black;
						font-weight: normal;
						padding: 10px 15px;
						border-bottom: 1px solid rgba( black, .1 );
					}
					&:hover,
					&:focus,
					&.active{
						> a{
							color: white;
						}
					}
				}
			}
			&:hover,
			&:focus,
			&.active{
				>a{
					background-color: $color-green;
					outline: transparent;
				}
			}
		}
	}
}

.site-header-two{
	.navigation-main{
		ul{
			li{
				&:last-child{
					>a{
						&:after{
							background-color: $color-border;
						}
					}
				}
				>a{
					color: black;
					&:before{
						background-color: $color-border;
					}
				}
				>ul{
					li{
						float: none;
						>a{
							&:last-child{
								&:after{
									background-color: $color-green;
								}								
							}
						}
					}
				}
			}
		}
	}
}

.navigation-sidebar{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	@media (max-width:995px) {
		font-size: 11px;
	}
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			display: block;
			position: relative;
			> a{
				color: #979786;
				padding: 10px 60px;
				display: block;
				position: relative;
				line-height: 1.6;
				@media (max-width:995px) {
					padding: 7px 60px;
				}
				// letter-spacing: 2px;
				&:after{
					content: "";
					position: absolute;
					right: -1px;
					height: 100%;
					width: 1px;
					top: 0px;
					background-color: transparent;
				}
			}
			> ul{
				li{
					>a{
						text-transform: none;
						padding: 5px 60px 5px 90px;
					}
				}
			}
			&:hover,
			&:focus{
				>a{
					color: $color-blue;
				}
			}
			&.active{
				  padding-top: 6px;
  				  padding-bottom: 6px;
				&:before{
					content: '';
					position: absolute;
					z-index: 0;
					width: 300%;
					height: 100%;
					right: 0;
					top: 0;
					background: white;
				}
				>a {
				    color: #000;
				    background-color: #FFF;
				    &:after{
				    	background-color: white;
				    }
				}	
				> ul{
					background-color: white;
					li{
						>a{
							&:after{
								background-color: white;
							}
						}
					}
				}			
			}
		}
	}	
}

.navigation-footer{
	float: right;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	@media (max-width: 570px) {
	    float: none;
	    text-align: center;
	    margin-bottom: 30px;
	}
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
	li{
		float: left;
		position: relative;
		@media (max-width: 570px) {
		    float: none;
		    display: inline-block;
		}
		a{
			display: block;
			padding: 0 10px;
			position: relative;
			color: black;
			letter-spacing: 2px;
			&:before{
				position: absolute;
				content: "";
				left: 0;
				height: 100%;
				top: 0;
				width: 1px;
				background-color: rgba( black, .2 );
			}
			&:hover,
			&:focus{
				color: $color-blue;
			}
		}
		&:first-child{
			a{
				&:before{
					width: 0;
				}
			}
		}
	}
}