.site-page-information{
	position: relative;
	width: 100%;
	display: block;
	@media (max-width: 767px) {
	    display: none;
	}
	img{
		width: 100%;
	}
}

.site-page-information-text{
	text-align: center;
	.information-text-caption{
		max-width: 750px;
		margin: 0 auto;
		padding: 100px 0;
	}
	.title-information-text,
	.text-informaton-text{
		color: white;
		margin: 0;
	}
	.title-information-text{
		margin-bottom: 30px;
		font-size: 30px;
		@media (max-width: 767px) {
		    font-size: 24px;
		}
	}
	.text-information-text{
		color: $color-blue-light-super;
		font-size: 18px;
	}
}