.header-page{
	margin-bottom: 40px;
	@media (max-width: 767px) {
	    margin-bottom: 20px;
	}
	.line-header{}
}

.title-page{
	margin: 0;
	font-size: 37px;
	font-weight: normal;
	text-transform: capitalize;
	@media (max-width: 767px) {
	    font-size: 28px;
	}
}
.title-page-small{}
.subtitle-page{
	margin-top: 5px;
	margin-bottom: 0;
	a{
		color: black;
		&:hover,
		&:focus{
			color: $color-blue;
		}
	}
}
.title-content-page{
	// margin-top: 40px;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: normal;
	@media (max-width: 767px) {
	    font-size: 21px;
	}
}
