.content-page{
	.panel{
		box-shadow: none;
		border-radius: 0;
	}
	.panel-default{
		border-color: transparent;
	}
	.panel-title{
		font-size: 18px;
		line-height: 1.4;
		a{
			display: block;
			border: 1px solid #ABD571;
			padding: 10px 30px 10px 60px;
			position: relative;
			&:before{
				content: "Q";
				position: absolute;
				left: 0px;
				top: 0px;
				padding: 8px 13px;
				text-transform: uppercase;
				display: block;
				height: 100%;
				transition: all 350ms ease-out 0s;
				background-color: transparent;
				border-right: 1px solid #ABD571;
				color: #ABD571;
			}
		}
		a[aria-expanded="true"]{
			&:before{
				color: white;
				background-color: #ABD571;
			}
		}
	}
	.panel-body{
		padding-left: 60px;
		p{
			font-size: 18px;
			line-height: 1.8;
			@media (max-width: 767px) {
			    font-size: 15px;
			}
		}
	}
}

.box-panel{
	display: block;
	padding: 30px;
	margin-bottom: 40px;
	.counting{
		font-size: 84px;
		font-weight: 300;
		line-height: 1.2;
	}
	p{
		font-size: 18px;
		line-height: 1.8;
	}
	.btn-csf{
		margin-top: 20px;
		text-align: center;
		font-weight: bold;
	}
}