.header-section{
	position: relative;
	margin-bottom: 40px;
	text-align: center;

	.header-title,
	.header-title-small,
	.header-subtitle{
		color: black;
	}
	.header-title{
		font-weight: bold;
		font-size: 44px;
		margin-top: 0;
		@media (max-width: 767px) {
		    font-size: 32px;
		}
	}	
	.header-title-small{
		font-size: 26px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.header-subtitle{
		font-size: 21px;
		@media (max-width: 767px) {
		    font-size: 16px;
		}
	}
	
}