.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space40 {
  height: 40px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.space80 {
  height: 80px;
  display: block;
  width: 100%; }

.helperspaceb{
	@media (max-width: 570px) {
	    margin-bottom: 40px;
	}
}