.table-csf{
	position: relative;
	font-size: 18px;
	margin-bottom: 40px;
	@media (max-width: 767px) {
	    font-size: 15px;
	}
	@media (max-width: 570px) {
	    font-size: 12px;
	}
	.info-top-csf{
		font-weight: bold;
		text-transform: capitalize;
		color: black;
		margin-bottom: 20px;
		margin-top: 20px;
		display: block;
	}
	table{
		width: 100%;
	}
	thead, 
	tbody, 
	tfoot{
		tr{
			td{
				&:first-child{
					text-align: left;
				}
				text-align: right;
			}
		}
	}
	thead{
		text-transform: uppercase;
		font-weight: bold;
		tr{
			border-bottom: 1px solid $color-green;
		}
		td{
			padding: 8px 0;
		}
	}
	tbody{
		tr{
			&:first-child{
				td{
					padding-top: 15px;
				}
			}
			td{
				padding: 5px 0;
			}
		}
	}
	tfoot{
		text-transform: uppercase;
		font-weight: bold;
		tr{
			td{
				padding-top: 10px;
			}
		}
	}
}