.text-italic{
	font-style: italic;
}

.text-uppercase{
	text-transform: uppercase;
}

.text-inline{
	display: inline-block;
}
.text-block{
	display: block;
}

.text-red{
	color: #ed1c24;
}

.text-yellow{
	color: $color-yellow;
}

.text-orange{
	color: $color-orange;
}

.text-white{
	color: white !important;
}

.text-gray{
	color: darken( #f5f5f5, 40% ) !important;
}

.text-gray.text-italic{
	font-size: 16px;
}

.text-blue{
	color: $color-blue !important;
}

.text-link-blue{
	color: $color-blue;
	&:hover,
	&:focus{
		color: lighten( $color-blue, 20%);
	}
}

.text-link-orange{
	color: $color-orange;
	&:hover,
	&:focus{
		color: lighten( $color-orange, 20% );
	}
}

.text-link-black{
	color: black;
	&:hover,
	&:focus{
		color: lighten( black, 20% );
	}
}

.text-link-white{
	color: white;
	&:hover,
	&:focus{
		color: darken( white, 20% );
	}
}

.text-link-blue{
	color: #0072bc !important;
	&:hover,
	&:focus{
		color: darken( #0072bc, 20% ) !important;
	}
}
.text-link-border{
	border-bottom: 1px solid $color-blue;
	&:hover,
	&:focus{
		border-color: $color-blue-light;
	}
}

.text-link-gray{
	color: #a3a3a3;
	&:hover, 
	&:focus{
		color: $color-blue;
	}
	i{
		margin-left: 3px;
	}
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}