.touch-socmed{
	text-align: center;
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
	li{
		float: left;
		position: relative;
		@media (max-width:995px){
			float: none;
			display: inline-block;
		}
	}
	a{
		color: #5e6063;
		display: block;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		font-size: 21px;
		&:hover,
		&:focus{
			color: lighten( #5e6063, 15% );
			.ico{
				opacity: .85;
			}
		}
	}
	.ico-csf{
		background-image: url('../images/peoples/kompass.png');
	}
	.ico{
		background-repeat: no-repeat;
		background-size: 30px;
		text-align: center;
		height: 30px;
		width: 30px;
		display: block;
		position: relative;
		top: 5px;
		margin-left: 5px;
		@media (max-width:995px){
			top: 13px;
		}
	}
}
