.touch-header{
	float: right;
	padding: 20px 0;
	min-width: 400px;
	@media (max-width:995px){
		float: none;
		text-align: center;
		min-width: 0;
	}
	.touch-socmed{
		border-right: 1px solid rgba( black, .20);
		margin-right: 40px;
		padding: 10px;
		padding-right: 40px;
		float: right;
		@media (max-width:995px){
			float: none;
			padding-right: 10px;
			margin-right: 0;
			border-right: none;
		}
	}
	.btn-csf{
		margin-top: 10px;
		float: right;
		@media (max-width:995px){
			float: none;
		}
	}
}